---
title: Unordered list (spaced)
layout: examples/plain.njk
addBodyPadding: true
private: true
---

<p>The key functions of a government according to Google are:</p>
<ul class="tna-ul tna-ul--spaced">
    <li><strong>lawmaking:</strong> Governments create and implement laws that regulate the behavior of citizens and organizations within their jurisdiction</li>
    <li><strong>public service provision:</strong> They are responsible for providing essential services like education, healthcare, infrastructure (roads, bridges), and public safety</li>
    <li><strong>protection:</strong> Governments protect citizens from external threats (war, invasion) and internal threats (crime, terrorism)</li>
    <li><strong>economic management:</strong> Governments set taxes, manage public finances, and implement economic policies to promote economic growth and stability</li>
    <li><strong>representation:</strong> Governments represent the interests of their citizens in international affairs and other areas where decisions are made that affect them</li>
    <li><strong>conflict resolution:</strong> Governments are responsible for resolving disputes and conflicts within society</li>
</ul>
