---
title: Unordered list (spaced)
layout: examples/plain.njk
addBodyPadding: true
private: true
---

<ul class="tna-ul tna-ul--spaced">
    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pulvinar molestie turpis at tristique. Quisque elementum turpis vitae interdum blandit. Nullam euismod egestas lorem.</li>
    <li>Aliquam id est id nulla eleifend feugiat eu euismod neque. Sed nec imperdiet felis, ut posuere dolor. Cras dapibus ligula aliquet, mattis libero quis, tristique augue. Donec posuere tincidunt condimentum.</li>
    <li>Sed pulvinar lacus a magna iaculis commodo. Pellentesque congue ex nunc, maximus tincidunt risus tincidunt eu. Nunc consequat, ligula a finibus placerat, mi risus rhoncus lacus, in gravida justo lorem ut augue. Morbi quis feugiat nunc.</li>
</ul>
