---
title: Scene setter
layout: examples/plain.njk
addBodyPadding: true
private: true
---

<p class="tna-scene-setter">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel tincidunt velit, a molestie turpis.</p>
