---
title: Focused and unfocused button examples
layout: examples/plain.njk
private: true
---

{% from "nationalarchives/components/button/macro.njk" import tnaButton %}

<div class="tna-container tna-!--padding-bottom-m">
  <div class="tna-column tna-column--full tna-!--margin-top-m">
    <p>The following buttons cannot be focused on and show the default focus state when focused on to demonstrate the contrast of the focus state against different background colours.</p>
  </div>
  <div class="tna-column">
    <div class="tna-aside tna-!--margin-top-m">
      <div class="tna-button-group tna-button-group--small">
        {{ tnaButton({
          text: "Unfocused",
          buttonElement: true,
          classes: "no-focus-outline",
          attributes: {
            tabindex: -1
          }
        }) }}
        {{ tnaButton({
          text: "Focused",
          buttonElement: true,
          classes: "tna-focus-example",
          attributes: {
            tabindex: -1
          }
        }) }}
      </div>
    </div>
  </div>
  <div class="tna-column">
    <div class="tna-aside tna-background-accent-light tna-!--margin-top-m tna-accent-yellow">
      <div class="tna-button-group tna-button-group--small">
        {{ tnaButton({
          text: "Unfocused",
          buttonElement: true,
          classes: "no-focus-outline",
          attributes: {
            tabindex: -1
          }
        }) }}
        {{ tnaButton({
          text: "Focused",
          buttonElement: true,
          classes: "tna-focus-example",
          attributes: {
            tabindex: -1
          }
        }) }}
      </div>
    </div>
  </div>
  <div class="tna-column">
    <div class="tna-aside tna-background-accent-light tna-!--margin-top-m tna-accent-blue">
      <div class="tna-button-group tna-button-group--small">
        {{ tnaButton({
          text: "Unfocused",
          buttonElement: true,
          classes: "no-focus-outline",
          attributes: {
            tabindex: -1
          }
        }) }}
        {{ tnaButton({
          text: "Focused",
          buttonElement: true,
          classes: "tna-focus-example",
          attributes: {
            tabindex: -1
          }
        }) }}
      </div>
    </div>
  </div>
  <div class="tna-column">
    <div class="tna-aside tna-background-tint tna-!--margin-top-m">
      <div class="tna-button-group tna-button-group--small">
        {{ tnaButton({
          text: "Unfocused",
          buttonElement: true,
          classes: "no-focus-outline",
          attributes: {
            tabindex: -1
          }
        }) }}
        {{ tnaButton({
          text: "Focused",
          buttonElement: true,
          classes: "tna-focus-example",
          attributes: {
            tabindex: -1
          }
        }) }}
      </div>
    </div>
  </div>
  <div class="tna-column">
    <div class="tna-aside tna-background-accent tna-!--margin-top-m tna-accent-yellow">
      <div class="tna-button-group tna-button-group--small">
        {{ tnaButton({
          text: "Unfocused",
          buttonElement: true,
          classes: "no-focus-outline",
          attributes: {
            tabindex: -1
          }
        }) }}
        {{ tnaButton({
          text: "Focused",
          buttonElement: true,
          classes: "tna-focus-example",
          attributes: {
            tabindex: -1
          }
        }) }}
      </div>
    </div>
  </div>
  <div class="tna-column">
    <div class="tna-aside tna-background-accent tna-!--margin-top-m tna-accent-blue">
      <div class="tna-button-group tna-button-group--small">
        {{ tnaButton({
          text: "Unfocused",
          buttonElement: true,
          classes: "no-focus-outline",
          attributes: {
            tabindex: -1
          }
        }) }}
        {{ tnaButton({
          text: "Focused",
          buttonElement: true,
          classes: "tna-focus-example",
          attributes: {
            tabindex: -1
          }
        }) }}
      </div>
    </div>
  </div>
  <div class="tna-column">
    <div class="tna-aside tna-background-contrast tna-!--margin-top-m">
      <div class="tna-button-group tna-button-group--small">
        {{ tnaButton({
          text: "Unfocused",
          buttonElement: true,
          classes: "no-focus-outline",
          attributes: {
            tabindex: -1
          }
        }) }}
        {{ tnaButton({
          text: "Focused",
          buttonElement: true,
          classes: "tna-focus-example",
          attributes: {
            tabindex: -1
          }
        }) }}
      </div>
    </div>
  </div>
</div>
