---
title: Light theme colours
layout: layout-example.njk
private: true
---

<div class="tna-template tna-template--yellow-accent tna-template--light-theme">
  <div class="tna-template__body">
    <div class="tna-aside">
      <nav class="tna-breadcrumbs tna-!--no-padding-top" data-module="tna-breadcrumbs" aria-label="Breadcrumb">
        <ol class="tna-breadcrumbs__list">
          <li class="tna-breadcrumbs__item">
            <a href="#/alpha" class="tna-breadcrumbs__link">
              Alpha
            </a>
          </li>
          <li class="tna-breadcrumbs__item">
            <a href="#/beta" class="tna-breadcrumbs__link">
              Beta
            </a>
          </li>
          <li class="tna-breadcrumbs__item">
            <a href="#/gamma" class="tna-breadcrumbs__link">
              Gamma
            </a>
          </li>
          <li class="tna-breadcrumbs__item">
            <a href="#/delta" class="tna-breadcrumbs__link">
              Delta
            </a>
          </li>
          <li class="tna-breadcrumbs__item">
            <a href="#/epsilon" class="tna-breadcrumbs__link">
              Epsilon
            </a>
          </li>
        </ol>
      </nav>
      <hgroup class="tna-hgroup-xl tna-!--no-margin-top">
        <p class="tna-hgroup__supertitle">Supertitle</p>
        <h1 class="tna-hgroup__title">Title</h1>
      </hgroup>
      <p>Lorem ipsum dolor sit amet, <a href="#">consectetur adipiscing</a> elit. Fusce consequat semper sagittis. Quisque magna nisl, vulputate a nunc id, efficitur luctus metus.</p>
      <ul class="tna-ul">
        <li>Alpha</li>
        <li>Beta</li>
        <li>Gamma</li>
      </ul>
      <div class="tna-button-group">
        <a href="#" class="tna-button" role="button">Primary button</a>
        <a href="#" class="tna-button tna-button--accent" role="button">Accent button</a>
      </div>
    </div>
  </div>
</div>
