---
title: Index grid
layout: layout-example.njk
---

{% from "nationalarchives/components/index-grid/macro.njk" import tnaIndexGrid %}

{{ tnaIndexGrid({
  heading: {
    title: "My dogs",
    level: 2,
    href: "#"
  },
  items: [
    {
      href: "#/category-1",
      label: "Time period",
      title: "Category 1",
      subtitle: "29 photos"
    }
  ],
  columns: 4,
  columnsMedium: 3,
  columnsSmall: 2,
  columnsTiny: 1
}) }}
