---
title: Index grid
layout: examples/plain.njk
themeAccent: green
private: true
---

{% from "nationalarchives/components/index-grid/macro.njk" import tnaIndexGrid %}

{{ tnaIndexGrid({
  title: "My animals",
  headingLevel: 2,
  body: "<p>Animals that I like.</p>",
  items: [
    {
      href: "#/category-1",
      label: "Bird",
      title: "Pelicans",
      subtitle: "6 photos",
      src: "https://picsum.photos/id/244/600/400",
      alt: "Some sea birds on a wooden pier",
      width: 600,
      height: 400
    },
    {
      href: "#/category-2",
      label: "Mammal",
      title: "Bears",
      subtitle: "18 photos",
      src: "https://picsum.photos/id/433/600/400",
      alt: "A bear looking straight at the camera",
      width: 600,
      height: 400
    },
    {
      href: "#/category-3",
      label: "Mammal",
      title: "Tigers",
      subtitle: "7 photos",
      src: "https://picsum.photos/id/593/600/400",
      alt: "A tiger lying down in an enclosure",
      width: 600,
      height: 400
    }
  ],
  columns: 4,
  columnsMedium: 3,
  columnsSmall: 2,
  columnsTiny: 1
}) }}
