---
title: Error page layout (example)
layout: examples/site.njk
private: true
---

<h1 class="tna-heading-xl">&lt;Error type&gt;</h1>
<p>&lt;Error details (optional)&gt;</p>
<p>&lt;Suggested next steps&gt;</p>
