---
title: Paragraphs large bold
layout: examples/plain.njk
addBodyPadding: true
private: true
---

<p class="tna-large-paragraph tna-large-paragraph--bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel tincidunt velit, a molestie turpis.</p>
