---
title: Chip list with icons
layout: examples/plain.njk
private: true
---

<h1 class="tna-heading-xl">My birthday party</h1>
<ul class="tna-chip-list">
    <li class="tna-chip-list__item">
        <span class="tna-chip">
            <i class="fa-solid fa-fw fa-people-group"></i>
            In-person
        </span>
    </li>
    <li class="tna-chip-list__item">
        <span class="tna-chip">
            <i class="fa-solid fa-fw fa-money-bill-wave"></i>
            Free
        </span>
    </li>
    <li class="tna-chip-list__item">
        <span class="tna-chip">
            <i class="fa-solid fa-fw fa-wheelchair"></i>
            Wheelchair accessible
        </span>
    </li>
</ul>
