---
title: Chip list with icons
layout: examples/plain.njk
themeAccent: pink
private: true
---

<dl class="tna-dl-chips">
    <dt>Published</dt>
    <dd>
      <span class="tna-dl-chips__item">
        <i class="fa-solid fa-calendar" aria-hidden="true"></i>
        Saturday 28 June 2014
      </span>
    </dd>
    <dt>Author</dt>
    <dd>
      <a class="tna-dl-chips__item">
        <i class="fa-solid fa-user" aria-hidden="true"></i>
        James Cronan
      </a>
    </dd>
    <dt>Category</dt>
    <dd>
      <a class="tna-dl-chips__item">
        <i class="fa-solid fa-tag" aria-hidden="true"></i>
        Records and research
      </a>
    </dd>
    <dt>Comments</dt>
    <dd>
      <a href="#" class="tna-dl-chips__item">
        <i class="fa-solid fa-comment" aria-hidden="true"></i>
        3 comments
      </a>
    </dd>
</dl>
