---
title: Cookie banner
layout: examples/plain.njk
private: true
---

{% from "nationalarchives/components/cookie-banner/macro.njk" import tnaCookieBanner %}

{{ tnaCookieBanner({
  serviceName: "my service",
  cookiesUrl: "#/cookies",
  cookiesPath: "/design-system/",
  classes: "tna-cookie-banner--demo"
}) }}
