---
title: Filters
layout: examples/plain.njk
addBodyPadding: true
themeAccent: green
private: true
---

{% from "nationalarchives/components/tags/macro.njk" import tnaTags %}

{{ tnaTags({
  items: [
    {
      label: "All",
      href: "#?tag=all"
    },
    {
      label: "Medieval (974–1485)",
      href: "#?tag=alpha"
    },
    {
      label: "Early Modern (1485–1714)",
      href: "#?tag=beta"
    },
    {
      label: "Georgians (1714–1837)",
      href: "#?tag=gamma"
    },
    {
      label: "Victorians (1837–1901)",
      href: "#?tag=delta"
    },
    {
      label: "Early 20th century (1901–1918)",
      href: "#?tag=epsilon"
    },
    {
      label: "Interwar (1918–1939)",
      href: "#?tag=zeta"
    },
    {
      label: "Second World War (1939–1945)",
      href: "#?tag=eta"
    },
    {
      label: "Postwar (1945–2000)",
      href: "#?tag=theta"
    }
  ]
}) }}
