---
title: File input
layout: examples/plain.njk
addBodyPadding: true
private: true
---

{% from "nationalarchives/components/file-input/macro.njk" import tnaFileInput %}

{{ tnaFileInput({
  label: "Upload proof of identity",
  id: "proof-of-identity",
  name: "proof_of_identity"
}) }}
