---
title: Blockquote
layout: examples/plain.njk
addBodyPadding: true
themeAccent: pink
private: true
---

<div class="tna-blockquote">
  <blockquote class="tna-blockquote__quote" cite="https://www.azquotes.com/quote/1728">
    <p>A common mistake that people make when trying to design something completely foolproof is to underestimate the ingenuity of complete fools.</p>
  </blockquote>
  <p class="tna-blockquote__attribution">Douglas Adams,
    <cite class="tna-blockquote__citation">
      <a href="https://en.wikipedia.org/wiki/Mostly_Harmless">Mostly Harmless</a>
    </cite>
  </p>
</div>
