---
title: Blockquote
layout: layout-example.njk
private: true
---

<blockquote class="tna-blockquote">
  <div class="tna-blockquote__quote">
    <p>A common mistake that people make when trying to design something completely foolproof is to underestimate the ingenuity of complete fools.</p>
  </div>
  <p class="tna-blockquote__citation">Douglas Adams, Mostly Harmless</p>
</blockquote>
