---
title: Pagination - previous and next
layout: examples/plain.njk
addBodyPadding: true
private: true
---

{% from "nationalarchives/components/pagination/macro.njk" import tnaPagination %}

{{ tnaPagination({
  previous: {
    href: "#",
    text: "Previous item: TS 11/45/166",
    description: "Previous item description"
  },
  next: {
    href: "#",
    text: "Next item: TS 11/45/168",
    description: "Next item description"
  }
}) }}
