---
title: Description list balancing
layout: examples/plain.njk
addBodyPadding: true
private: true
---

<h2 class="tna-heading-m">Default (auto)</h2>
<dl class="tna-dl tna-dl--lined">
    <dt>Date</dt>
    <dd>From 1972 to 1979</dd>
</dl>

<h2 class="tna-heading-m">Even (1:1)</h2>
<dl class="tna-dl tna-dl--lined tna-dl--even">
    <dt>Date</dt>
    <dd>From 1972 to 1979</dd>
</dl>

<h2 class="tna-heading-m">Right weighted (1:2)</h2>
<dl class="tna-dl tna-dl--lined tna-dl--right-weighted">
    <dt>Date</dt>
    <dd>From 1972 to 1979</dd>
</dl>

<h2 class="tna-heading-m">Left weighted (2:1)</h2>
<dl class="tna-dl tna-dl--lined tna-dl--left-weighted">
    <dt>Date</dt>
    <dd>From 1972 to 1979</dd>
</dl>
