---
title: Card colours
layout: examples/plain.njk
addVerticalBodyPadding: true
themeAccent: green
private: true
---

{% from "nationalarchives/components/card/macro.njk" import tnaCard %}

<ul class="tna-container tna-!--padding-bottom-m">
  <li class="tna-column tna-column--width-1-4 tna-column--full-small tna-column--full-tiny tna-!--padding-top-m">
    {{ tnaCard({
      supertitle: "Supertitle",
      title: "Plain",
      headingLevel: 3,
      headingSize: "s",
      href: "#",
      imageSrc: "https://picsum.photos/600/400?1",
      imageAlt: "A random example image",
      imageWidth: 600,
      imageHeight: 400,
      body: "<p>Lorem ipsum dolor sit amet.</p>",
      style: "plain",
      classes: "tna-card--demo"
    }) }}
  </li>
  <li class="tna-column tna-column--width-1-4 tna-column--full-small tna-column--full-tiny tna-!--padding-top-m">
    {{ tnaCard({
      supertitle: "Supertitle",
      title: "Contrast",
      headingLevel: 3,
      headingSize: "s",
      href: "#",
      imageSrc: "https://picsum.photos/600/400?2",
      imageAlt: "A random example image",
      imageWidth: 600,
      imageHeight: 400,
      body: "<p>Lorem ipsum dolor sit amet.</p>",
      style: "contrast",
      classes: "tna-card--demo"
    }) }}
  </li>
  <li class="tna-column tna-column--width-1-4 tna-column--full-small tna-column--full-tiny tna-!--padding-top-m">
    {{ tnaCard({
      supertitle: "Supertitle",
      title: "Tint",
      headingLevel: 3,
      headingSize: "s",
      href: "#",
      imageSrc: "https://picsum.photos/600/400?3",
      imageAlt: "A random example image",
      imageWidth: 600,
      imageHeight: 400,
      body: "<p>Lorem ipsum dolor sit amet.</p>",
      style: "tint",
      classes: "tna-card--demo"
    }) }}
  </li>
  <li class="tna-column tna-column--width-1-4 tna-column--full-small tna-column--full-tiny tna-!--padding-top-m">
    {{ tnaCard({
      supertitle: "Supertitle",
      title: "Accent",
      headingLevel: 3,
      headingSize: "s",
      href: "#",
      imageSrc: "https://picsum.photos/600/400?4",
      imageAlt: "A random example image",
      imageWidth: 600,
      imageHeight: 400,
      body: "<p>Lorem ipsum dolor sit amet.</p>",
      style: "accent",
      classes: "tna-card--demo"
    }) }}
  </li>
</ul>
