---
title: Button group
layout: examples/plain.njk
addBodyPadding: true
themeAccent: green
private: true
---

{% from "nationalarchives/components/button/macro.njk" import tnaButton %}

<div class="tna-button-group">
  {{ tnaButton({
    text: "Assign",
    href: "#"
  }) }}
  {{ tnaButton({
    text: "Reset",
    href: "#"
  }) }}
  {{ tnaButton({
    text: "Continue",
    href: "#",
    accent: true,
    icon: "chevron-right",
    rightAlignIcon: true
  }) }}
  {{ tnaButton({
    text: "Ignore",
    href: "#",
    plain: true
  }) }}
</div>
<div class="tna-button-group tna-button-group--small">
  {{ tnaButton({
    text: "Assign",
    href: "#"
  }) }}
  {{ tnaButton({
    text: "Reset",
    href: "#"
  }) }}
  {{ tnaButton({
    text: "Continue",
    href: "#",
    accent: true,
    icon: "chevron-right",
    rightAlignIcon: true
  }) }}
  {{ tnaButton({
    text: "Ignore",
    href: "#",
    plain: true
  }) }}
</div>
