---
title: Definition list with icons
layout: examples/plain.njk
private: true
---

<dl class="tna-dl tna-dl--icon-padding">
    <dt>
      <i class="fa-solid fa-landmark" aria-hidden="true"></i>
      Held by
    </dt>
    <dd>The National Archives, Kew</dd>
    <dt>
      <i class="fa-solid fa-calendar" aria-hidden="true"></i>
      Date
    </dt>
    <dd>1972&ndash;1979</dd>
    <dt>
      <i class="fa-solid fa-database" aria-hidden="true"></i>
      Reference
    </dt>
    <dd>LC 4</dd>
</dl>