---
title: Description list with icons
layout: examples/plain.njk
addBodyPadding: true
private: true
---

<dl class="tna-dl">
    <dt>
      <i class="fa-solid fa-landmark" aria-hidden="true"></i>
      Held by
    </dt>
    <dd>The National Archives, Kew</dd>
    <dt>
      <i class="fa-solid fa-calendar" aria-hidden="true"></i>
      Date
    </dt>
    <dd>1972 to 1979</dd>
</dl>

<dl class="tna-dl tna-dl--lined">
    <dt>
      <i class="fa-solid fa-landmark" aria-hidden="true"></i>
      Held by
    </dt>
    <dd>The National Archives, Kew</dd>
    <dt>
      <i class="fa-solid fa-calendar" aria-hidden="true"></i>
      Date
    </dt>
    <dd>1972 to 1979</dd>
</dl>

<dl class="tna-dl tna-dl--zebra">
    <dt>
      <i class="fa-solid fa-landmark" aria-hidden="true"></i>
      Held by
    </dt>
    <dd>The National Archives, Kew</dd>
    <dt>
      <i class="fa-solid fa-calendar" aria-hidden="true"></i>
      Date
    </dt>
    <dd>1972 to 1979</dd>
</dl>
