---
title: Radios with a hint
layout: examples/plain.njk
private: true
---

{% from "nationalarchives/components/radios/macro.njk" import tnaRadios %}

{{ tnaRadios({
  label: "Type",
  headingLevel: 4,
  headingSize: "m",
  id: "type",
  name: "type",
  hint: "You can only select one.",
  items: [
    {
      text: "Audio",
      value: "audio"
    },
    {
      text: "Image",
      value: "image"
    },
    {
      text: "Video",
      value: "video"
    }
  ]
}) }}
