---
title: Tabs
layout: examples/no-css-no-js.njk
private: true
---

{% from "nationalarchives/components/tabs/macro.njk" import tnaTabs %}

{{ tnaTabs({
  title: "Example tabs",
  itemHeadingLevel: 3,
  items: [
    {
      id: "section-a",
      title: "Alpha",
      body: '<p>Lorem ipsum</p>'
    },
    {
      id: "section-b",
      title: "Beta",
      body: '<p>Lorem ipsum</p>'
    },
    {
      id: "section-c",
      title: "Gamma",
      body: '<p>Lorem ipsum</p>'
    }
  ]
}) }}
