---
title: User-submitted form elements with errors
layout: examples/plain.njk
private: true
---

{% from "nationalarchives/components/button/macro.njk" import tnaButton %}
{% from "nationalarchives/components/checkboxes/macro.njk" import tnaCheckboxes %}
{% from "nationalarchives/components/date-input/macro.njk" import tnaDateInput %}
{% from "nationalarchives/components/error-summary/macro.njk" import tnaErrorSummary %}
{% from "nationalarchives/components/radios/macro.njk" import tnaRadios %}
{% from "nationalarchives/components/textarea/macro.njk" import tnaTextarea %}
{% from "nationalarchives/components/text-input/macro.njk" import tnaTextInput %}

<div class="tna-container">
  <div class="tna-column tna-column--full tna-!--padding-vertical-m">
    <form novalidate>
      <h1 class="tna-heading-xl">Create a record</h1>
      {{ tnaErrorSummary({
        title: "There is a problem",
        headingLevel: 2,
        items: [
          {
            text: "The record name cannot contain emojis",
            href: "#record_name"
          },
          {
            text: "Select at least one category",
            href: "#record_categories"
          },
          {
            text: "The date of the record cannot be in the future",
            href: "#record_date"
          },
          {
            text: "Select the type of record",
            href: "#record_type"
          },
          {
            text: "The record description cannot be blank",
            href: "#record_description"
          }
        ],
        disableAutoFocus: true
      }) }}
      {{ tnaTextInput({
        label: "Enter the name of the record",
        headingLevel: 2,
        headingSize: "m",
        id: "record_name",
        name: "name",
        value: "😎",
        error: {
          text: "The record name cannot contain emojis"
        }
      }) }}
      {{ tnaCheckboxes({
        label: "Select the record categories",
        headingLevel: 2,
        headingSize: "m",
        id: "record_categories",
        name: "categories",
        items: [
          {
            text: "Architectural",
            value: "architectural"
          },
          {
            text: "Banking",
            value: "banking"
          },
          {
            text: "Charities",
            value: "charities"
          }
        ],
        error: {
          text: "Select at least one category"
        }
      }) }}
      {{ tnaDateInput({
        label: "Enter the start date of the record",
        headingLevel: 2,
        headingSize: "m",
        id: "record_date",
        name: "date",
        value: {
          day: "24",
          month: "09",
          year: "2086"
        },
        error: {
          text: "The date of the record cannot be in the future"
        }
      }) }}
      {{ tnaRadios({
        label: "Select the type of record",
        headingLevel: 2,
        headingSize: "m",
        id: "record_type",
        name: "type",
        items: [
          {
            text: "Physical",
            value: "physical"
          },
          {
            text: "Digital",
            value: "digital"
          }
        ],
        error: {
          text: "Select the type of record"
        }
      }) }}
      {{ tnaTextarea({
        label: "Enter the record description",
        headingLevel: 2,
        headingSize: "m",
        id: "record_description",
        name: "description",
        error: {
          text: "The record description cannot be blank"
        }
      }) }}
      <div class="tna-button-group">
        {{ tnaButton({
          text: "Create record",
          buttonElement: true,
          buttonType: "submit"
        }) }}
        {{ tnaButton({
          text: "Clear",
          buttonElement: true,
          buttonType: "reset",
          plain: true
        }) }}
      </div>
    </form>
  </div>
</div>
