---
title: Asides
layout: examples/plain.njk
addBodyPadding: true
themeAccent: pink
private: true
---

<aside class="tna-aside tna-background-contrast">
  <h3 class="tna-heading-m">Aside</h3>
  <p>Lorem ipsum</p>
</aside>
<aside class="tna-aside tna-background-tint">
  <h3 class="tna-heading-m">Aside</h3>
  <p>Lorem ipsum</p>
</aside>
<aside class="tna-aside tna-aside--tight tna-background-accent">
  <h3 class="tna-heading-m">Aside</h3>
  <p>Lorem ipsum</p>
</aside>