---
title: Asides
layout: layout-example.njk
---

<aside class="tna-aside tna-background--contrast">
  <h3 class="tna-heading-m">Aside</h3>
  <p>Integer ipsum nisl, tempus sed quam vel, ultricies finibus tortor. Vestibulum laoreet sagittis risus at accumsan.</p>
</aside>
<aside class="tna-aside tna-background--tint">
  <h3 class="tna-heading-m">Aside</h3>
  <p>Integer ipsum nisl, tempus sed quam vel, ultricies finibus tortor. Vestibulum laoreet sagittis risus at accumsan.</p>
</aside>