---
title: Logo (adornable)
layout: examples/plain.njk
private: true
themeAccent: blue
---

{%- from "nationalarchives/components/button/macro.njk" import tnaButton -%}
{%- from "nationalarchives/components/date-search/macro.njk" import tnaDateSearch -%}
{%- from "nationalarchives/templates/partials/logo/macro.njk" import tnaLogo -%}

<div id="logo-adornment-test" class="tna-container tna-!--padding-bottom-m">
  <div id="logo-adornment-test-message">
    <h2 class="tna-heading-m">JavaScript required</h2>
    <p>This interactive logo adornment test requires JavaScript to run.</p>
  </div>
  <div class="tna-column tna-column--flex-1 tna-column--full-small tna-column--full-tiny tna-column--full-tiny tna-!--padding-top-m">
    {{ tnaDateSearch({
      label: "Enter a date to test",
      headingSize: "s",
      id: "adornment-date",
      name: "adornment-date"
    }) }}
    <h2 class="tna-heading-s tna-!--margin-top-s tna-!--no-padding-top">Examples</h2>
    <div class="tna-button-group tna-button-group--small tna-!--margin-top-s">
      {{ tnaButton({
        text: "World Book Day",
        buttonElement: true,
        classes: "example-date",
        attributes: {
          "value": "2026-03-05"
        }
      }) }}
      {{ tnaButton({
        text: "Earth Day",
        buttonElement: true,
        classes: "example-date",
        attributes: {
          "value": "2026-04-22"
        }
      }) }}
      {{ tnaButton({
        text: "International Nurses Day",
        buttonElement: true,
        classes: "example-date",
        attributes: {
          "value": "2026-05-12"
        }
      }) }}
      {{ tnaButton({
        text: "Pride Month",
        buttonElement: true,
        classes: "example-date",
        attributes: {
          "value": "2026-06-01"
        }
      }) }}
      {{ tnaButton({
        text: "Black History Month",
        buttonElement: true,
        classes: "example-date",
        attributes: {
          "value": "2026-10-01"
        }
      }) }}
      {{ tnaButton({
        text: "Remembrance Day",
        buttonElement: true,
        classes: "example-date",
        attributes: {
          "value": "2026-11-11"
        }
      }) }}
    </div>
  </div>
  <div class="tna-column tna-!--padding-top-m">
    <div class="tna-aside">
      {{ tnaLogo({adornable: true}) }}
    </div>
  </div>
  <div class="tna-column tna-!--padding-top-m">
    <div class="tna-aside tna-background-contrast">
      {{ tnaLogo({adornable: true}) }}
    </div>
  </div>
</div>

<style>
  #logo-adornment-test {
    position: relative;
  }

  #logo-adornment-test-message {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    inset: 0;
    z-index: 1;
    background: rgba(255, 255, 255, 0.95);
  }
</style>

<script>
  const $logoAdornmentTestMessage = document.getElementById("logo-adornment-test-message");
  $logoAdornmentTestMessage.setAttribute("hidden", "");
  const $logos = document.querySelectorAll(".tna-logo--adornable");
  if ($logos.length) {
    const logoAdornmentsStylesheetBaseURL =
      "//www.nationalarchives.gov.uk/enrichment/css/logo-adornments.css";
    const $logoAdornmentsStylesheet = document.createElement("link");
    $logoAdornmentsStylesheet.rel = "stylesheet";
    $logoAdornmentsStylesheet.href = logoAdornmentsStylesheetBaseURL;
    document.head.appendChild($logoAdornmentsStylesheet);

    let $logoAdornmentsScript;
    const addLogoAdornmentsScript = function ($logoAdornmentsScript, date) {
      const logoAdornmentsScriptBaseURL =
        "//www.nationalarchives.gov.uk/enrichment/js/logo-adornments.js";
      if ($logoAdornmentsScript) {
        $logoAdornmentsScript.remove();
      }
      $logoAdornmentsScript = document.createElement("script");
      $logoAdornmentsScript.type = "module";
      $logoAdornmentsScript.src = `${logoAdornmentsScriptBaseURL}?debug=${date}&date=${Date.now()}`;
      document.body.appendChild($logoAdornmentsScript);
      return $logoAdornmentsScript;
    };

    const $dateSelector = document.getElementById("adornment-date");
    if ($dateSelector) {
      $dateSelector.addEventListener("change", function (event) {
        $logos.forEach(function ($logo) {
          $logo.removeAttribute("title");
        });
        $logoAdornmentsStylesheet.href = `${logoAdornmentsStylesheetBaseURL}?debug=${$dateSelector.value}&date=${Date.now()}`;
        $logoAdornmentsScript = addLogoAdornmentsScript(
          $logoAdornmentsScript,
          $dateSelector.value,
        );
      });
    }

    const $exampleDateButtons = document.querySelectorAll(".example-date");
    $exampleDateButtons.forEach(function ($button) {
      $button.addEventListener("click", function (event) {
        $dateSelector.value = event.currentTarget.value;
        $dateSelector.dispatchEvent(new Event("change"));
      });
    });
  }
</script>
