---
title: Rate limited (example)
layout: examples/plain.njk
addBodyPadding: true
private: true
---

<h1 class="tna-heading-xl">Too many requests</h1>
<p>You have requested too many resources in a set timeframe.</p>
<p>Try again in a few minutes.</p>
