---
title: Hero
layout: layout-example.njk
---

{% from "nationalarchives/components/hero/macro.njk" import tnaHero %}

{{ tnaHero({
  heading: "The mountains",
  imageSrc: "https://picsum.photos/id/29/1200/800",
  imageAlt: "A mountain range",
  imageWidth: 1200,
  imageHeight: 800
}) }}
