---
title: Hero
layout: layout-example.njk
---

{% from "nationalarchives/components/hero/macro.njk" import tnaHero %}

{{ tnaHero({
  heading: "Welcome",
  imageSrc: "https://fakeimg.pl/1200x480/9c193a/fff?text=5:2%20%281200x480%29&font=museo&font_size=64",
  imageAlt: "An example image containing the text '5:2 (1200x480)'",
  imageWidth: 1200,
  imageHeight: 480,
  imageSources: [
    {
      src: "https://fakeimg.pl/600x400/9c193a/fff?text=3:2%20%28600x400%29&font=museo&font_size=48",
      type: "image/jpeg",
      imageWidth: 600,
      imageHeight: 400,
      media: "(max-width: 48em)"
    }
  ],
  imageCaption: "Resize the window to see the different image sizes for a hero component"
}) }}
