---
title: Headings
layout: examples/plain.njk
addBodyPadding: true
private: true
---

<h1 class="tna-heading-xl">tna-heading-xl</h1>
<h2 class="tna-heading-l">tna-heading-l</h2>
<h3 class="tna-heading-m">tna-heading-m</h3>
<h4 class="tna-heading-s">tna-heading-s</h4>
