---
title: Headings
layout: layout-example.njk
---

<h1 class="tna-heading tna-heading--xl">tna-heading--xl</h1>
<h2 class="tna-heading tna-heading--l">tna-heading--l</h2>
<h3 class="tna-heading tna-heading--m">tna-heading--m</h3>
<h4 class="tna-heading tna-heading--s">tna-heading--s</h4>
