---
title: Pagination - first page
layout: examples/plain.njk
private: true
---

{% from "nationalarchives/components/pagination/macro.njk" import tnaPagination %}

{{ tnaPagination({
  items: [
    {
      number: 1,
      current: true,
      href: "#"
    },
    {
      number: 2,
      href: "#"
    },
    {
      number: 3,
      href: "#"
    }
  ],
  next: {
    href: "#"
  }
}) }}
