---
title: Cards with full area click
layout: examples/plain.njk
private: true
---

{% from "nationalarchives/components/card/macro.njk" import tnaCard %}

<ul class="tna-container tna-accent-green tna-!--margin-bottom-m">
  <li class="tna-column tna-column--width-1-4 tna-column--full-small tna-column--full-tiny tna-!--margin-top-m">
    {{ tnaCard({
      supertitle: "Card supertitle",
      title: "Card title",
      headingLevel: 3,
      headingSize: "m",
      href: "#",
      imageSrc: "https://picsum.photos/600/400?1",
      imageAlt: "An example image containing the text 'Image'",
      imageWidth: 600,
      imageHeight: 400,
      body: "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>",
      fullAreaClick: true,
      classes: "tna-card--demo"
    }) }}
  </li>
  <li class="tna-column tna-column--width-1-4 tna-column--full-small tna-column--full-tiny tna-!--margin-top-m">
    {{ tnaCard({
      supertitle: "Card supertitle",
      title: "Contrast card title",
      headingLevel: 3,
      headingSize: "m",
      href: "#",
      imageSrc: "https://picsum.photos/600/400?2",
      imageAlt: "An example image containing the text 'Image'",
      imageWidth: 600,
      imageHeight: 400,
      body: "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>",
      fullAreaClick: true,
      style: "contrast",
      classes: "tna-card--demo"
    }) }}
  </li>
  <li class="tna-column tna-column--width-1-4 tna-column--full-small tna-column--full-tiny tna-!--margin-top-m">
    {{ tnaCard({
      supertitle: "Card supertitle",
      title: "Tint card title",
      headingLevel: 3,
      headingSize: "m",
      href: "#",
      imageSrc: "https://picsum.photos/600/400?3",
      imageAlt: "An example image containing the text 'Image'",
      imageWidth: 600,
      imageHeight: 400,
      body: "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>",
      fullAreaClick: true,
      style: "tint",
      classes: "tna-card--demo"
    }) }}
  </li>
  <li class="tna-column tna-column--width-1-4 tna-column--full-small tna-column--full-tiny tna-!--margin-top-m">
    {{ tnaCard({
      supertitle: "Card supertitle",
      title: "Accent card title",
      headingLevel: 3,
      headingSize: "m",
      href: "#",
      imageSrc: "https://picsum.photos/600/400?4",
      imageAlt: "An example image containing the text 'Image'",
      imageWidth: 600,
      imageHeight: 400,
      body: "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>",
      fullAreaClick: true,
      style: "accent",
      classes: "tna-card--demo"
    }) }}
  </li>
</ul>
