---
title: Text input - password
layout: examples/plain.njk
addBodyPadding: true
private: true
---

{% from "nationalarchives/components/text-input/macro.njk" import tnaTextInput %}

{{ tnaTextInput({
  label: "Enter your password",
  headingLevel: 4,
  headingSize: "m",
  id: "password",
  name: "password",
  password: true
}) }}
