---
title: Text input - password
layout: examples/plain.njk
addBodyPadding: true
private: true
---

{% from "nationalarchives/components/text-input/macro.njk" import tnaTextInput %}

{{ tnaTextInput({
  label: "Enter your password",
  headingSize: "m",
  id: "password",
  name: "password",
  password: true
}) }}

{{ tnaTextInput({
  label: "Create a password",
  headingSize: "m",
  id: "password-new",
  name: "password-new",
  hint: "Your password must be at least 8 characters long",
  password: true,
  newPassword: true
}) }}
