---
title: Paragraphs large
layout: examples/plain.njk
addBodyPadding: true
private: true
---

<p class="tna-large-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel tincidunt velit, a molestie turpis.</p>
