---
title: Paragraphs large
layout: layout-example.njk
---

<p class="tna-large-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel tincidunt velit, a molestie turpis. Sed odio libero, sodales eleifend lorem sit amet, feugiat consequat nibh.</p>
