---
title: Grid
layout: examples/plain.njk
private: true
---

{% from "nationalarchives/utilities/grid/macro.njk" import tnaGrid %}

{{ tnaGrid({
  columns: [
    {
      html: "<p>Full</p>",
      width: "full"
    },
    {
      html: "<p>Half</p>",
      width: "1-2"
    },
    {
      html: "<p>Quarter</p>",
      width: "1-4"
    },
    {
      html: "<p>Quarter</p>",
      width: "1-4"
    },
    {
      html: "<p>Third</p>",
      width: "1-3"
    },
    {
      html: "<p>Two thirds</p>",
      width: "2-3"
    },
    {
      html: "<p>Sixth</p>",
      width: "1-6"
    },
    {
      html: "<p>Five twelfths</p>",
      width: "5-12"
    },
    {
      html: "<p>Flex 1</p>",
      flex: "1"
    },
    {
      html: "<p>Flex 2</p>",
      flex: "2"
    }
  ],
  classes: "tna-grid--demo"
}) }}
