---
title: Picture
layout: examples/plain.njk
addBodyPadding: true
private: true
---

{% from "nationalarchives/components/picture/macro.njk" import tnaPicture %}

{{ tnaPicture({
  src: "https://www.nationalarchives.gov.uk/wp-content/uploads/sites/24/2023/07/tna-building-compress.jpg",
  alt: "The front of the National Archives building",
  width: 1996,
  height: 1331,
  caption: "<p>The front of the National Archives building, previously the Public Records Office in Kew</p>"
}) }}
