---
title: Headings with supertitles
layout: layout-example.njk
---

<hgroup class="tna-hgroup tna-hgroup--xl">
  <h1>
    <span class="tna-hgroup__supertitle">Supertitle</span>
    <span class="tna-hgroup__title">Title</span>
  </h1>
</hgroup>
