---
title: Headings with supertitles
layout: examples/plain.njk
addBodyPadding: true
themeAccent: pink
private: true
---

<hgroup class="tna-hgroup-xl">
  <h1>
    <span class="tna-hgroup__supertitle">Supertitle</span>
    <span class="tna-hgroup__title">Title</span>
  </h1>
</hgroup>
