---
title: Container alignment
layout: examples/grid.njk
private: true
---

<div class="tna-container">
  <div class="tna-column tna-column--width-1-3">
    <p>Column</p>
  </div>
</div>

<div class="tna-container tna-container--align-centre">
  <div class="tna-column tna-column--width-1-3">
    <p>Column</p>
  </div>
</div>

<div class="tna-container tna-container--align-right">
  <div class="tna-column tna-column--width-1-3">
    <p>Column</p>
  </div>
</div>
