---
title: Page archived (example)
layout: examples/plain.njk
addBodyPadding: true
private: true
---

<h1 class="tna-heading-xl">Page no longer exists</h1>
<p>A version of the old page can still be viewed in the <a href="https://www.nationalarchives.gov.uk/webarchive/">UK Government Web Archive</a>.</p>
<p>The archive shows the page as it appeared on <strong><time datetime="2026-02-03">3 February 2026</time></strong> (6 months ago).</p>
<div class="tna-button-group">
  <a href="#" class="tna-button">
    View archived page
  </a>
</div>
