---
title: Header
layout: layout-example.njk
private: true
---

{% from "nationalarchives/components/header/macro.njk" import tnaHeader %}

{{ tnaHeader({
  navigation: [
    {
      text: "Alpha",
      href: "#/alpha",
      selected: true
    },
    {
      text: "Beta",
      href: "#/beta"
    },
    {
      text: "Gamma",
      href: "#/gamma"
    }
  ]
}) }}
