---
title: Phase banner
layout: layout-example.njk
private: true
---

{% from "nationalarchives/components/phase-banner/macro.njk" import tnaPhaseBanner %}

{{ tnaPhaseBanner({
  phase: "alpha",
  message: "This is a new service - <a href=\"#\">give us your feedback</a> to help improve it."
}) }}
