---
title: Definition list
layout: layout-example.njk
---

<dl class="tna-dl">
    <dt>Alpha</dt>
    <dd>Lorem ipsum</dd>
    <dt>Beta</dt>
    <dd>Lorem ipsum</dd>
    <dt>Gamma</dt>
    <dd>Lorem ipsum</dd>
    <dt>Delta</dt>
    <dd>Lorem ipsum</dd>
    <dt>Epsilon</dt>
    <dd>Lorem ipsum</dd>
</dl>
