---
title: Keyboard
layout: examples/plain.njk
addBodyPadding: true
private: true
---

<p>Fill out the form and press <kbd>Enter</kbd> to submit it.</p>
<p>Press <kbd>Tab</kbd> to enter the radios and then <kbd>Up</kbd> or <kbd>Down</kbd> to change your selection.</p>