---
title: Button with icon
layout: examples/plain.njk
addBodyPadding: true
private: true
---

{% from "nationalarchives/components/button/macro.njk" import tnaButton %}

{{ tnaButton({
  text: "Book a reading room",
  href: "#/book-a-reading-room",
  icon: "arrow-right",
  rightAlignIcon: true
}) }}
