{% extends "nationalarchives/templates/layouts/_generic.njk" %}

{% block head %}
  {# <meta http-equiv="Content-Security-Policy" content="default-src 'self'; style-src 'self' https://fonts.googleapis.com https://use.typekit.net https://p.typekit.net; img-src 'self' https://www.nationalarchives.gov.uk https://picsum.photos; font-src 'self' https://use.typekit.net https://fonts.gstatic.com"> #}
  <meta name="robots" content="noindex,nofollow">
{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="/design-system/css/all.css">
  <link rel="stylesheet" href="/design-system/css/fa.css">
  <link rel="stylesheet" href="https://use.typekit.net/hkj3kuz.css">
{% endblock %}

{%- set theme = "light" -%}

{% block pageTitle %}{{ title }} - {{ super() }}{% endblock %}

{% block cookies %}{% endblock %}
{% block skipLink %}{% endblock %}

{% block content %}
  <div class="tna-container">
    <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny tna-section">
      {{ contents | safe }}
    </div>
  </div>
{% endblock %}

{% block bodyEnd %}
  <script src="/design-system/static/scripts/all.js"></script>
  <script>
    window.TNAFrontend.initAll();
  </script>
{% endblock %}
