{% extends "nationalarchives/templates/layouts/_generic.njk" %}

{% block head %}
  <meta name="robots" content="noindex,nofollow">
{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="/css/all.css">
  <link rel="stylesheet" href="/css/fa.css">
  <link rel="stylesheet" href="https://use.typekit.net/kaq6qqh.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400..700&family=Roboto+Mono:wght@400..500&display=swap">
  <link rel="stylesheet" href="/css/ie.css" media="all and (-ms-high-contrast: none), (-ms-high-contrast: active)">
{% endblock %}

{%- set theme = "light" -%}

{% block pageTitle %}{{ title }} - {{ super() }}{% endblock %}

{% block cookies %}{% endblock %}
{% block skipLink %}{% endblock %}

{% block content %}
  <div class="tna-container">
    <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny tna-section">
      {{ contents | safe }}
    </div>
  </div>
{% endblock %}

{% block bodyEnd %}
  <script src="/static/scripts/all.js"></script>
  <script>
    window.TNAFrontend.initAll();
  </script>
{% endblock %}
