---
title: Horizontal cards
layout: examples/plain.njk
private: true
---

{% from "nationalarchives/components/card/macro.njk" import tnaCard %}

{{ tnaCard({
  supertitle: "Card supertitle",
  title: "Card title",
  headingLevel: 3,
  headingSize: "m",
  href: "#",
  imageSrc: "https://picsum.photos/600/400?1",
  imageAlt: "A random example image",
  imageWidth: 600,
  imageHeight: 400,
  body: "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel tincidunt velit, a molestie turpis.</p>",
  horizontal: true,
  style: "tint",
  classes: "tna-card--demo-horizontal"
}) }}

{{ tnaCard({
  supertitle: "Card supertitle",
  title: "Card title",
  headingLevel: 3,
  headingSize: "m",
  href: "#",
  imageSrc: "https://picsum.photos/600/400?2",
  imageAlt: "A random example image",
  imageWidth: 600,
  imageHeight: 400,
  body: "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel tincidunt velit, a molestie turpis.</p>",
  horizontal: true,
  horizontalSmallImage: true,
  style: "tint",
  classes: "tna-card--demo-horizontal tna-!--margin-top-s"
}) }}

{{ tnaCard({
  supertitle: "Card supertitle",
  title: "Card title",
  headingLevel: 3,
  headingSize: "m",
  href: "#",
  imageSrc: "https://picsum.photos/600/400?3",
  imageAlt: "A random example image",
  imageWidth: 600,
  imageHeight: 400,
  body: "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel tincidunt velit, a molestie turpis.</p>",
  horizontal: true,
  horizontalFlipped: true,
  style: "tint",
  classes: "tna-card--demo-horizontal tna-!--margin-top-s"
}) }}
