---
title: Card list (plain)
layout: examples/plain.njk
private: true
---

{% from "nationalarchives/components/card/macro.njk" import tnaCard %}

<ul class="tna-container tna-!--padding-top-m">
  {% for i in range(0, 5) -%}
  <li class="tna-column tna-column--width-1-4 tna-column--width-1-3-medium tna-column--width-1-2-small tna-column--full-tiny tna-!--margin-bottom-l">
    {{ tnaCard({
      title: "Card " + (i + 1),
      headingLevel: 3,
      headingSize: "m",
      href: "#",
      body: "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel tincidunt velit, a molestie turpis.</p>"      }) }}
  </li>
  {% endfor -%}
</ul>
