---
title: Tabs
layout: examples/plain.njk
addBodyPadding: true
themeAccent: green
private: true
---

{% from "nationalarchives/components/tabs/macro.njk" import tnaTabs %}

{{ tnaTabs({
  title: "Example tabs",
  itemHeadingLevel: 3,
  items: [
    {
      id: "section-a",
      title: "This week",
      body: '<p>Lorem ipsum</p>'
    },
    {
      id: "section-b",
      title: "This month",
      body: '<p>Lorem ipsum</p>'
    },
    {
      id: "section-c",
      title: "This year",
      body: '<p>Lorem ipsum</p>'
    }
  ]
}) }}
