---
title: Logo
layout: examples/plain.njk
addBodyPadding: false
private: true
themeAccent: blue
---

{% from "nationalarchives/templates/partials/logo/macro.njk" import tnaLogo %}

<div class="tna-container tna-container--align-centre tna-!--padding-top-m">
  <div class="tna-column tna-!--padding-bottom-m">
    <div class="tna-aside tna-background-tint">
      <div class="tna-container tna-container--nested">
        <div class="tna-column">
          {{ tnaLogo() }}
        </div>
        <div class="tna-column">
          {{ tnaLogo({solid: true}) }}
        </div>
      </div>
    </div>
  </div>
  <div class="tna-column tna-!--padding-bottom-m">
    <div class="tna-aside tna-background-accent-light">
      <div class="tna-container tna-container--nested">
        <div class="tna-column">
          {{ tnaLogo() }}
        </div>
        <div class="tna-column">
          {{ tnaLogo({solid: true}) }}
        </div>
      </div>
    </div>
  </div>
  <div class="tna-column tna-!--padding-bottom-m">
    <div class="tna-aside tna-background-accent">
      <div class="tna-container tna-container--nested">
        <div class="tna-column">
          {{ tnaLogo() }}
        </div>
        <div class="tna-column">
          {{ tnaLogo({solid: true}) }}
        </div>
      </div>
    </div>
  </div>
  <div class="tna-column tna-!--padding-bottom-m">
    <div class="tna-aside tna-background-contrast">
      <div class="tna-container tna-container--nested">
        <div class="tna-column">
          {{ tnaLogo() }}
        </div>
        <div class="tna-column">
          {{ tnaLogo({solid: true}) }}
        </div>
      </div>
    </div>
  </div>
  <div class="tna-column tna-column--full tna-!--padding-bottom-m">
    <div class="tna-background-image">
        {{ tnaLogo({solid: true}) }}
    </div>
  </div>
</div>

<style>
  .tna-background-image {
    padding: 2rem 6rem 6rem 2rem;
    background-image: url("https://www.nationalarchives.gov.uk/media/images/side-.max-900x900.format-jpeg.jpegquality-60.bgcolor-fff.jpg");
    background-size: cover;
    background-position: center;
  }
</style>
