---
title: Message
layout: layout-example.njk
private: true
---

{% from "nationalarchives/components/message/macro.njk" import tnaMessage %}

{{ tnaMessage({
  headingLevel: 2,
  message: "Please note this page references hunger strikes and force feeding, which some people may find upsetting."
}) }}
