---
title: Accordion (open and close all)
layout: examples/plain.njk
addBodyPadding: true
private: true
---

{% from "nationalarchives/components/accordion/macro.njk" import tnaAccordion %}

{{ tnaAccordion({
  itemHeadingLevel: 3,
  items: [
    {
      title: "Discovery",
      text: "Lorem ipsum"
    },
    {
      title: "Alpha",
      text: "Lorem ipsum"
    },
    {
      title: "Private beta",
      text: "Lorem ipsum"
    },
    {
      title: "Public beta",
      text: "Lorem ipsum"
    },
    {
      title: "Live",
      text: "Lorem ipsum"
    }
  ],
  id: "accordion-demo",
  toggleAllButton: {
    enabled: true
  }
}) }}
