---
title: Grid (responsive)
layout: examples/grid.njk
private: true
---

{% from "nationalarchives/utilities/grid/macro.njk" import tnaGrid %}

{{ tnaGrid({
  columns: [
    {
      html: "<p>Lorem ipsum</p>",
      width: "1-4",
      widthMedium: "1-3",
      widthSmall: "1-2",
      widthTiny: "full"
    },
    {
      html: "<p>Lorem ipsum</p>",
      width: "1-4",
      widthMedium: "1-3",
      widthSmall: "1-2",
      widthTiny: "full"
    },
    {
      html: "<p>Lorem ipsum</p>",
      width: "1-4",
      widthMedium: "1-3",
      widthSmall: "1-2",
      widthTiny: "full"
    },
    {
      html: "<p>Lorem ipsum</p>",
      width: "1-4",
      widthMedium: "1-3",
      widthSmall: "1-2",
      widthTiny: "full"
    },
    {
      html: "<p>Lorem ipsum</p>",
      width: "1-4",
      widthMedium: "1-3",
      widthSmall: "1-2",
      widthTiny: "full"
    },
    {
      html: "<p>Lorem ipsum</p>",
      width: "1-4",
      widthMedium: "1-3",
      widthSmall: "1-2",
      widthTiny: "full"
    },
    {
      html: "<p>Lorem ipsum</p>",
      width: "1-4",
      widthMedium: "1-3",
      widthSmall: "1-2",
      widthTiny: "full"
    },
    {
      html: "<p>Lorem ipsum</p>",
      width: "1-4",
      widthMedium: "1-3",
      widthSmall: "1-2",
      widthTiny: "full"
    },
    {
      html: "<p>Lorem ipsum</p>",
      width: "1-4",
      widthMedium: "1-3",
      widthSmall: "1-2",
      widthTiny: "full"
    },
    {
      html: "<p>Lorem ipsum</p>",
      width: "1-4",
      widthMedium: "1-3",
      widthSmall: "1-2",
      widthTiny: "full"
    },
    {
      html: "<p>Lorem ipsum</p>",
      width: "1-4",
      widthMedium: "1-3",
      widthSmall: "1-2",
      widthTiny: "full"
    },
    {
      html: "<p>Lorem ipsum</p>",
      width: "1-4",
      widthMedium: "1-3",
      widthSmall: "1-2",
      widthTiny: "full"
    }
  ]
}) }}
