---
title: Blue accent colour
layout: examples/plain.njk
private: true
---

<section class="tna-template--blue-accent">
  <div class="tna-phase-banner tna-phase-banner--accent">
    <div class="tna-container">
      <div class="tna-column tna-column--full-tiny">
        <span class="tna-phase-banner__phase">
          Beta
        </span>
      </div>
      <div class="tna-column tna-column--flex-1 tna-column--full-tiny">
        <p class="tna-phase-banner__message">
          This is a new service - <a href="#">give us your feedback</a> to help improve it.
        </p>
      </div>
    </div>
  </div>
  <hgroup class="tna-hgroup-xl">
    <p class="tna-hgroup__supertitle">Supertitle</p>
    <h1 class="tna-hgroup__title">Title</h1>
  </hgroup>
  <ol class="tna-ol">
    <li>First</li>
  </ol>
  <blockquote class="tna-blockquote">
    <div class="tna-blockquote__quote">
      <p>A common mistake that people make when trying to design something completely foolproof is to underestimate the ingenuity of complete fools.</p>
    </div>
    <p class="tna-blockquote__citation">Douglas Adams, <a href="#">Mostly Harmless</a></p>
  </blockquote>
  <div class="tna-button-group">
    <a href="#" class="tna-button" role="button">Primary button</a>
    <a href="#" class="tna-button tna-button--accent" role="button">Accent button</a>
  </div>
</section>
