---
title: Picture
layout: examples/plain.njk
private: true
---

{% from "nationalarchives/components/picture/macro.njk" import tnaPicture %}

{{ tnaPicture({
  src: "https://fakeimg.pl/675x900/9c193a/fff?text=900%20max&font=museo&font_size=48",
  alt: "An example image containing the text '900 max'",
  width: 675,
  height: 900,
  caption: "An example image for the picture component"
}) }}
