---
title: Picture
layout: layout-example.njk
---

{% from "nationalarchives/components/picture/macro.njk" import tnaPicture %}

{{ tnaPicture({
  src: "https://cdn.nationalarchives.gov.uk/blog/wp-content/uploads/2023/12/08095438/HO-294_557-6087B-Gottfried-Ehrenberg.jpg",
  alt: "An example image containing the text '3:2'",
  width: 600,
  height: 400,
  caption: "British Committee for Refugees from Czechoslovakia card for Geoffrey Elton, records his arrival in UK on 14 February 1939 to his naturalisation as a British subject on 17 October 1947. Catalogue reference: <a href=\"https://discovery.nationalarchives.gov.uk/details/r/C18356488\" title=\"View the record HO 294/557/6087B in Discovery\">HO 294/557/6087B</a>"
}) }}
