---
title: Search filters
layout: layout-example.njk
private: true
---

{% from "nationalarchives/components/search-filters/macro.njk" import tnaSearchFilters %}

{{ tnaSearchFilters({
  title: "Filters",
  rootHeadingLevel: 2,
  formId: "test-form",
  items: [
    {
      type: "text",
      label: "Refine",
      id: "refine1",
      name: "refine1",
      open: true,
      hint: "Search within the current results",
      value: "iceberg"
    },
    {
      type: "multiple",
      label: "Category",
      id: "categories1",
      name: "categories1",
      small: true,
      hint: "The category of the record",
      seeMoreText: "See all 29 categories",
      seeMoreUrl: "#",
      items: [
        {
          text: "Alpha",
          value: "alpha"
        },
        {
          text: "Beta",
          value: "beta",
          checked: true
        },
        {
          text: "Gamma",
          value: "gamma",
          checked: true
        }
      ]
    },
    {
      type: "date",
      label: "Opening date",
      id: "date1",
      name: "date1",
      hint: "The earliest opening date of the record",
      value: "1969-07-16"
    },
    {
      type: "daterange",
      label: "Covering date",
      id: "dates",
      hint: "The earliest and/or latest covering date of the record",
      from: {
        label: "From",
        id: "date2",
        name: "date2",
        value: "1912-04-14"
      },
      to: {
        label: "To",
        id: "date3",
        name: "date3",
        value: "1912-04-15"
      }
    }
  ]
}) }}
