---
title: Description list (styled)
layout: examples/plain.njk
addBodyPadding: true
private: true
---

<dl class="tna-dl tna-dl--lined">
    <dt>Held by</dt>
    <dd>The National Archives, Kew</dd>
    <dt>Date</dt>
    <dd>1972 to 1979</dd>
</dl>

<dl class="tna-dl tna-dl--zebra">
    <dt>Held by</dt>
    <dd>The National Archives, Kew</dd>
    <dt>Date</dt>
    <dd>1972 to 1979</dd>
</dl>
