---
title: Header
layout: examples/plain.njk
private: true
---

{% from "nationalarchives/components/global-header/macro.njk" import tnaGlobalHeader %}

{{ tnaGlobalHeader({
  logo: {
    href: "#/"
  },
  navigation: [
    {
      text: "Visit",
      href: "#/visit-us"
    },
    {
      text: "What’s on",
      href: "#/whats-on"
    },
    {
      text: "Explore the collection",
      href: "#/explore-the-collection"
    },
    {
      text: "Help using the archive",
      href: "#/help-with-your-research"
    },
    {
      text: "Education",
      href: "#/education"
    },
    {
      text: "Professional guidance and services",
      href: "#/professional-guidance-and-services"
    }
  ],
  topNavigation: [
    {
      text: "Search",
      href: "#/search",
      icon: "search"
    },
    {
      text: "Shop",
      href: "#/shop",
      icon: "shop"
    },
    {
      text: "Sign in",
      href: "#/sign-in",
      icon: "user"
    }
  ]
}) }}
