---
title: Header
layout: examples/plain.njk
private: true
---

{% from "nationalarchives/components/global-header/macro.njk" import tnaGlobalHeader %}

{{ tnaGlobalHeader({
  logo: {
    href: "#/"
  },
  topNavigation: [
    {
      text: "Search",
      href: "#/search",
      icon: "search"
    },
    {
      text: "Shop",
      href: "https://shop.nationalarchives.gov.uk/",
      icon: "shop"
    },
    {
      text: "Sign in",
      href: "#/sign-in",
      icon: "user"
    }
  ],
  navigation: [
    {
      text: "Visit",
      href: "www.nationalarchives.gov.uk/about/visit-us/"
    },
    {
      text: "What’s on",
      href: "www.nationalarchives.gov.uk/about/visit-us/whats-on/"
    },
    {
      text: "Explore the collection",
      href: "https://beta.nationalarchives.gov.uk/explore-the-collection/"
    },
    {
      text: "Using the archive",
      href: "www.nationalarchives.gov.uk/help-with-your-research/"
    },
    {
      text: "Learn",
      href: "www.nationalarchives.gov.uk/education/"
    },
    {
      text: "Professional guidance and services",
      href: "www.nationalarchives.gov.uk/professional-guidance-and-services/"
    }
  ]
}) }}
