{%- from 'nationalarchives/components/breadcrumbs/macro.njk' import tnaBreadcrumbs -%}

{% if path != '' %}
  {% set pathParts = path.split('/') %}
  {% set breadcrumbs = [{
    text: 'Home',
    href: '/design-system/'
  }] %}
  {# {% if pathParts.length > 1 %} #}
    {% for part in pathParts %}
      {% if loop.index < pathParts | length - 1 %}
      {% set pathPart = pathParts.slice(0, loop.index) %}
      {% if loop.index < pathParts.length %}
      {% set pathText = pathPart.slice(-1).toString() %}
      {% set breadcrumbs = breadcrumbs.concat({
        text: pathText | replace("-", " ") | capitalize,
        href: '/design-system/' + pathPart.join('/') + '/'
      }) %}
      {% endif %}
      {% endif %}
    {% endfor %}
    <div class="tna-ds-breadcrumbs-wrapper">
      <div class="tna-container">
        <div class="tna-column tna-column--full tna-!--padding-vertical-s">
          {{ tnaBreadcrumbs({
            items: breadcrumbs,
            structuredData: true
          }) }}
        </div>
      </div>
    </div>
  {# {% endif %} #}
{% endif %}