{%- from "nationalarchives/components/button/macro.njk" import tnaButton -%}

<div class="tna-container tna-!--margin-top-xl tna-!--margin-bottom-l tna-!--hide-on-print" role="region">
  <div class="tna-column tna-column--width-2-3 tna-column--full-small tna-column--full-tiny">
    <div class="tna-aside tna-background-tint">
      <h2 class="tna-heading-m">Something not right?</h2>
      <p>We are working to improve this service and appreciate your input.</p>
      <div class="tna-button-group">
        {{ tnaButton({
          text: "Report a problem",
          href: "https://github.com/nationalarchives/design-system/issues/new?template=bug.yml",
          icon: "bug"
        }) }}
        {{ tnaButton({
          text: "Provide feedback",
          href: "https://forms.cloud.microsoft/Pages/ResponsePage.aspx?id=wRKV-Z_9dUSYlpoLPNxQ7NLyFvKrfzFFqNzFPC-JFRVUN0QxWjBTV1JSVUxBQzJIUFJNMVFaNTU1OS4u&r8de0dc7f4e514cdb870593b3694c5e18=https%3A%2F%2Fdesign-system.nationalarchives.gov.uk%2F" ~ (path.replace("index.html", "") | urlencode),
          plain: true
        }) }}
        {{ tnaButton({
          text: "Suggest an edit",
          href: "https://github.com/nationalarchives/design-system/edit/main/src/" ~ (path.replace(".html", ".md")),
          plain: true
        }) }}
      </div>
    </div>
  </div>
</div>