{%- from "nationalarchives/components/accordion/macro.njk" import tnaAccordion -%}
{%- from "nationalarchives/components/details/macro.njk" import tnaDetails -%}

{% macro example(params) %}
  {% set exampleRoot = "src/" + params.group + "/" + params.item + "/" + params.example + "/" %}
  {% set examplePath = exampleRoot + "index.njk" %}
  {% set exampleURL = "/design-system/" + params.group + "/" + params.item + "/" + params.example + "/index.html" %}
  {% set exampleId = params.group + "__" + params.item + "-" + params.example %}
  
  <section class="tna-ds-example">
    {% if not params.noOpenInNewTab %}
    <small class="tna-ds-example__open-new-tab">
      <a href="{{ exampleURL }}" target="_blank" class="tna-ds-example__link tna-link--no-visited-state">Open this example in new tab</a>
    </small>
    {% endif %}

    <div class="tna-ds-example__frame-wrapper{% if params.noPadding %} tna-ds-example__frame-wrapper--no-padding{% endif %}">
      <iframe title="{{ exampleTitle + " example" }}" class="tna-ds-example__frame tna-ds-example__frame--resizable{% if params.size %} tna-ds-example__frame--{{ params.size }}{% endif %}" src="{{ exampleURL }}" loading="lazy"></iframe>
    </div>

    {% set accordionItems = [] %}
    {% if params.html %}
    {% set accordionItems = (accordionItems.push({
          title: "HTML",
          body: '<div class="tna-ds-example__code">
<!-- This indentation is required so markdown does not interfere -->
<pre class="language-html"><code class="language-html">' + (getHTMLCode(examplePath) | forceescape) + '</code></pre>
        <div>'
        }), accordionItems) %}
    {% endif %}
    {% if params.nunjucks %}
    {% set accordionItems = (accordionItems.push({
          title: "Nunjucks",
          body: (
                  tnaDetails({
                    title: "Nunjucks options",
                    body: exampleOptions(params, exampleId)
                  }) if params.nunjucksOptions !== false else ''
                ) + '<div class="tna-ds-example__code">
<!-- This indentation is required so markdown does not interfere -->
<pre class="language-javascript"><code class="language-javascript">' + (getNunjucksCode(examplePath) | forceescape) + '</code></pre>
        <div>'
        }), accordionItems) %}
    {% endif %}
    
    {% if accordionItems | length %}
    {{ tnaAccordion({
      items: accordionItems,
      group: exampleRoot
    }) }}
    {% endif %}
  </section>
{% endmacro %}

{% macro exampleOptions(params, exampleId) %}
  {%- if (params.group == 'components') %}
    {% for table in getMacroOptions(params.item) %}
      <div class="tna-table-wrapper">
        <table class="tna-table app-options__table" id="options-{{ exampleId }}-{{ table.id }}">
          <caption class="tna-table__caption {% if table.id == 'primary' %} tna-visually-hidden{% endif %}">{{ table.name }}</caption>
          <thead class="tna-table__head">
            <tr class="tna-table__row">
              <th class="tna-table__header app-options__limit-table-cell" scope="col">Name</th>
              <th class="tna-table__header app-options__limit-table-cell" scope="col">Type</th>
              <th class="tna-table__header" scope="col">Description</th>
            </tr>
          </thead>
          <tbody class="tna-table__body">
            {% for option in table.options -%}
              <tr class="tna-table__row">
                <th class="tna-table__header" scope="row" width="25%">{{option.name}}</th>
                <td class="tna-table__cell" width="25%">{{option.type}}</td>
                <td class="tna-table__cell" width="50%">
                  {% if (option.required === true) %}
                    <p>
                      <strong>Required.</strong>
                    </p>
                  {% endif %}
                  {{ option.description | safe }}
                  {% if (option.isComponent) -%}
                    {% if (option.name === "hint" or option.name === "label") %}
                      <p>See <a href="#options-{{ exampleId }}-{{ option.name }}" class="tna-link--no-visited-state">{{ option.name }}</a>.</p>
                    {% else %}
                      <p>See <a href="/components/{{ option.slug }}/#options-{{ option.name | kebabCase }}-example" class="tna-link--no-visited-state">{{ option.name }}</a>.</p>
                    {% endif %}
                  {% endif %}
                  {% if (option.params) %}
                    <p>See <a href="#options-{{ exampleId }}-{{ option.name }}" class="tna-link--no-visited-state">{{ option.name }}</a>.</p>
                  {% endif -%}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endfor %}
  {% endif -%}
{% endmacro %}