---
title: Tinted block colours
layout: examples/plain.njk
private: true
---

{% from "nationalarchives/components/button/macro.njk" import tnaButton %}

<section class="tna-accent-pink tna-background-tint">
  <div class="tna-container tna-!--padding-vertical-m">
    <div class="tna-column tna-column--full">
      <hgroup class="tna-hgroup-xl">
        <p class="tna-hgroup__supertitle">Supertitle</p>
        <h1 class="tna-hgroup__title">Title</h1>
      </hgroup>
      <p>Lorem ipsum dolor sit amet, <a href="#">consectetur adipiscing</a> elit. Fusce consequat semper sagittis. Quisque magna nisl, vulputate a nunc id, efficitur luctus metus.</p>
      <div class="tna-button-group">
        {{ tnaButton({
          text: "Primary button",
          href: "#"
        }) }}
        {{ tnaButton({
          text: "Accent button",
          href: "#",
          accent: true
        }) }}
      </div>
    </div>
  </div>
</section>
