---
title: Footer
layout: examples/plain.njk
private: true
---

{% from "nationalarchives/components/footer/macro.njk" import tnaFooter %}

{{ tnaFooter({
  title: "The National Archives",
  address: "Kew, Richmond TW9 4DU"
}) }}
