---
title: Hero
layout: examples/plain.njk
private: true
---

{% from "nationalarchives/components/hero/macro.njk" import tnaHero %}

{{ tnaHero({
  content: "<h1 class=\"tna-heading-xl\">This is a hero component</h1><p>You can use it to introduce a new idea.</p>",
  imageSrc: "https://picsum.photos/id/29/1200/480",
  imageAlt: "A mountain range",
  imageWidth: 1200,
  imageHeight: 480
}) }}
