---
title: Hero
layout: examples/plain.njk
private: true
---

{% from "nationalarchives/components/hero/macro.njk" import tnaHero %}

{{ tnaHero({
  heading: "This is a hero component",
  body: "<p>You can use it to introduce a new idea.</p>",
  imageSrc: "https://picsum.photos/id/29/1200/800",
  imageAlt: "A mountain range",
  imageWidth: 1200,
  imageHeight: 800
}) }}
