---
title: Hero
layout: layout-example.njk
---

{% from "nationalarchives/components/hero/macro.njk" import tnaHero %}

{{ tnaHero({
  heading: "This is a hero component",
  body: "<p>You can use it to introduce a new idea.</p>",
  imageSrc: "https://picsum.photos/id/29/640/360",
  imageAlt: "A mountain range",
  imageWidth: 640,
  imageHeight: 360
}) }}
