{%- extends "nationalarchives/templates/layouts/_generic.njk" -%}

{%- from "nationalarchives/components/footer/macro.njk" import tnaFooter -%}
{%- from "nationalarchives/components/header/macro.njk" import tnaHeader -%}
{%- from "nationalarchives/components/phase-banner/macro.njk" import tnaPhaseBanner -%}

{%- set assetPath = "/design-system/static/assets/" -%}

{%- set theme = "light" -%}
{% if group === "get-started" %}
  {%- set themeAccent = "yellow" -%}
{% elseif group === "styles" %}
  {%- set themeAccent = "pink" -%}
{% elseif group === "components" %}
  {%- set themeAccent = "green" -%}
{% elseif group === "content" %}
  {%- set themeAccent = "blue" -%}
{% elseif group === "performance" %}
  {%- set themeAccent = "orange" -%}
{% elseif not themeAccent %}
  {%- set themeAccent = "blue" -%}
{% endif %}

{%- set siteTitle = "The National Archives Design System" -%}
{%- set pageTitle = title -%}

{% block head %}
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; style-src 'self' https://fonts.googleapis.com https://use.typekit.net https://p.typekit.net 'unsafe-inline'; img-src 'self' https://www.nationalarchives.gov.uk https://fakeimg.pl https://picsum.photos https://fastly.picsum.photos https://asciinema.org data: https://nationalarchives.github.io/design-system/; font-src 'self' https://use.typekit.net https://fonts.gstatic.com">
  {% if description %}
  <meta name="description" content="{{ description }}">
  {% endif %}
  <link rel="canonical" href="https://nationalarchives.github.io/design-system/{{ path }}{% if path %}/{% endif %}">
  <meta name="google-site-verification" content="0vB4hp9dlNd2ozuQUaaBgEJXjgEcs2BD_6B7LqKLjR4">
  <link rel="manifest" href="/design-system/static/manifest.json">
  <style>.tna-ds--show-on-js{display: none !important;}</style>
{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="/design-system/css/index.css">
  <link rel="stylesheet" href="/design-system/css/fa.css">
  <link rel="stylesheet" href="https://use.typekit.net/kaq6qqh.css">
{% endblock %}

{% block cookies %}
  {{ tnaCookieBanner({
    cookiesUrl: "/design-system/cookies/",
    cookiesPath: "/design-system/"
  }) }}
{% endblock %}

{% block skipLink %}
  {{ tnaSkipLink({
    href: "main-content",
    text: "Skip to main content"
  }) }}
{% endblock %}

{% block header %}
  {{ tnaPhaseBanner({
    phase: "Beta",
    message: "This is a new service – <a href='https://github.com/nationalarchives/design-system/issues/new'>give us your feedback</a> to help improve it."
  }) }}

  {% set topLevelNavigation = [] %}
  {% for top in collections.top %}
    {% set topLevelNavigation = topLevelNavigation.concat({
      text: top.title,
      href: "/design-system/" + top.path,
      selected: top.path.replace("index.html", "") in path.replace("index.html", "")
    }) %}
  {% endfor %}

  {{ tnaHeader({
    logo: {
      strapline: "Design System",
      href: "/design-system"
    },
    navigation: topLevelNavigation,
    topNavigation: [
      {
        text: "Design System GitHub repository",
        href: "https://github.com/nationalarchives/design-system",
        icon: "brands fa-github"
      }
    ],
    colour: "black"
  }) }}
{% endblock %}

{% block footer %}
  {% set buildDate = stats.atime | prettyDate %}
  {{ tnaFooter({
    themeSelector: true,
    navigation: [
      {
        title: "Meta",
        items: [
          {
            text: "Published on " + buildDate,
            href: "https://github.com/nationalarchives/design-system/actions/workflows/deploy.yml"
          },
          {
            text: "Built with TNA Frontend " + tnaFrontendVersion,
            href: "https://github.com/nationalarchives/tna-frontend/releases/tag/v" + tnaFrontendVersion
          },
          {
            text: "Made with Metalsmith " + metalsmithVersion,
            href: "https://metalsmith.io/"
          }
        ]
      }
    ],
    legal: [
      {
        text: "Accessibility",
        href: "/design-system/accessibility"
      },
      {
        text: "Cookies",
        href: "/design-system/cookies"
      },
      {
        text: "Site map",
        href: "/design-system/sitemap"
      },
      {
        text: "Privacy policy",
        href: "/design-system/privacy"
      }
    ],
    classes: "tna-!--margin-top-l"
  }) }}
{% endblock %}

{% block bodyEnd %}
  <script src="/design-system/static/scripts/all.js"></script>
  <script src="/design-system/index.js"></script>
{% endblock %}
