{% extends "nationalarchives/templates/layouts/_generic.njk" %}

{%- from "nationalarchives/components/breadcrumbs/macro.njk" import tnaBreadcrumbs -%}
{%- from "nationalarchives/components/button/macro.njk" import tnaButton -%}
{%- from "nationalarchives/components/footer/macro.njk" import tnaFooter -%}
{%- from "nationalarchives/components/header/macro.njk" import tnaHeader -%}
{%- from "nationalarchives/components/phase-banner/macro.njk" import tnaPhaseBanner -%}

{%- set assetPath = "/design-system/static/assets" -%}

{% block headIcons %}
  <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="{{ assetPath | default('/assets') }}/images/favicon.ico" type="image/x-icon">
  <link rel="mask-icon" href="{{ assetPath | default('/assets') }}/images/mask-icon.svg" color="{{ themeColor | default('#000') }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ assetPath | default('/assets') }}/images/apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="167x167" href="{{ assetPath | default('/assets') }}/images/apple-touch-icon-167x167.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ assetPath | default('/assets') }}/images/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" href="{{ assetPath | default('/assets') }}/images/apple-touch-icon.png">
{% endblock %}

{%- set theme = "light" -%}
{% if group === "styles" %}
  {%- set themeAccent = "pink" -%}
{% elseif group === "components" %}
  {%- set themeAccent = "green" -%}
{% elseif group === "patterns" %}
  {%- set themeAccent = "blue" -%}
{% elseif group === "content" %}
  {%- set themeAccent = "orange" -%}
{% else %}
  {%- set themeAccent = "black" -%}
{% endif %}

{% block pageTitle %}
  {{ title }} | The National Archives Design System
{% endblock %}

{% block cookies %}
  {{ tnaCookieBanner({
    url: '/design-system/cookies'
  }) }}
{% endblock %}

{% block skipLink %}
{{ tnaSkipLink({
  href: 'main-content',
  text: 'Skip to main content'
}) }}
{% endblock %}

{% block head %}
  <meta name="description" content="{{ description }}" />
  <link rel="canonical" href="{{ site.siteURL }}{{ path }}" />
{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="/design-system/css/index.css">
{% endblock %}

{% block header %}
  {{ tnaPhaseBanner({
    phase: "Alpha",
    message: "This is a new service – <a href='https://github.com/nationalarchives/design-system/issues/new'>give us your feedback</a> to help improve it."
  }) }}

  {% set topLevelNavigation = [] %}
  {% for top in collections.top %}
    {% set topLevelNavigation = topLevelNavigation.concat({
      text: top.title,
      href: "/design-system/" + top.path,
      selected: top.path in path
    }) %}
  {% endfor %}

  {{ tnaHeader({
    logo: {
      strapline: "Design System",
      href: "/design-system"
    },
    navigation: topLevelNavigation,
    topNavigation: [
      {
        text: "Design System GitHub repository",
        href: "https://github.com/nationalarchives/design-system"
      }
    ],
    colour: "black"
  }) }}

  {% if path != "" %}
    {% set pathParts = path.split('/') %}
    {% set breadcrumbs = [{
      text: "Home",
      href: ""
    }] %}
    {% for part in pathParts %}
      {% set pathPart = pathParts.slice(0, loop.index) %}
      {% set breadcrumbs = breadcrumbs.concat({
        text: pathPart.slice(-1),
        href: "/design-system/" + pathPart.join('/')
      }) %}
    {% endfor %}
    {# {{ tnaBreadcrumbs({
      items: breadcrumbs
    }) }} #}
  {% endif %}
{% endblock %}

{% block footer %}
  {% set buildDate = stats.atime | prettyDate %}
  {{ tnaFooter({
    navigation: [
      {
        title: "Meta",
        items: [
          {
            text: "Published on " + buildDate,
            href: "https://github.com/nationalarchives/design-system/deployments/activity_log?environment=github-pages"
          },
          {
            text: "Made with Metalsmith " + msVersion,
            href: "https://metalsmith.io/"
          },
          {
            text: "Node " + nodeVersion,
            href: "https://github.com/nationalarchives/design-system/blob/main/.nvmrc"
          }
        ]
      },
      {
        title: "GitHub repositories",
        items: [
          {
            text: "Design System",
            href: "https://github.com/nationalarchives/design-system"
          },
          {
            text: "TNA Frontend",
            href: "https://github.com/nationalarchives/tna-frontend"
          },
          {
            text: "TNA Frontend Django",
            href: "https://github.com/nationalarchives/tna-frontend-django"
          }
        ]
      }
    ],
    legal: [
      {
        text: "Accessibility statement",
        href: "/design-system/accessibility"
      },
      {
        text: "Cookies",
        href: "/design-system/cookies"
      },
      {
        text: "Site map",
        href: "/design-system/site-map"
      },
      {
        text: "Privacy policy",
        href: "/design-system/privacy"
      }
    ],
    classes: "tna-!--margin-top-xl"
  }) }}
{% endblock %}

{% block bodyEnd %}
<script src="/design-system/index.js"></script>
{% endblock %}
