{%- from "nationalarchives/components/tabs/macro.njk" import tnaTabs -%}

{% macro example(params) %}
  {% set exampleRoot = "src/" + params.group + "/" + params.item + "/" + params.example + "/" %}
  {% set examplePath = exampleRoot + "index.njk" %}
  {% set exampleURL = "/design-system/" + params.group + "/" + params.item + "/" + params.example + "/index.html" %}

  <iframe title="{{ exampleTitle + " example" }}" data-module="app-example-frame" class="app-example__frame app-example__frame--resizable{% if params.size %} app-example__frame--{{ params.size }}{% endif %}" src="{{ exampleURL }}" loading="lazy"></iframe>

  <p>
    <a href="{{ exampleURL }}" target="_blank">Open this example in new tab</a>
  </p>

  {% set html = getHTMLCode(examplePath) | forceescape %}
  {% set nunjucks = getNunjucksCode(examplePath) | forceescape %}

  {{ tnaTabs({
    title: exampleTitle + " example",
    items: [
      {
        id: params.group + "-" + params.item + "-" + params.example + "-html",
        title: "HTML",
        body: '<pre class="language-html"><code class="language-html">' + html + '</code></pre>'
      },
      {
        id: params.group + "-" + params.item + "-" + params.example + "-nunjucks",
        title: "Nunjucks",
        body: '<pre class="language-javascript"><code class="language-javascript">' + nunjucks + '</code></pre>'
      },
      {
        id: params.group + "-" + params.item + "-" + params.example + "-options",
        title: "Nunjucks options",
        body: exampleOptions(params)
      }
    ],
    classes: "tna-!--margin-top-m tna-!--margin-bottom-xl"
  }) }}
{% endmacro %}

{% macro exampleOptions(params) %}
  {%- if (params.group == 'components') %}
    {% for table in getMacroOptions(params.item) %}
      <table class="tna-table app-options__table" id="options-{{ exampleId }}--{{ table.id }}">
        <caption class="tna-table__caption tna-heading-m {% if table.id == 'primary' %} tna-visually-hidden{% endif %}">{{ table.name }}</caption>
        <thead class="tna-table__head">
          <tr class="tna-table__row">
            <th class="tna-table__header app-options__limit-table-cell" scope="col">Name</th>
            <th class="tna-table__header app-options__limit-table-cell" scope="col">Type</th>
            <th class="tna-table__header" scope="col">Description</th>
          </tr>
        </thead>
        <tbody class="tna-table__body">
          {% for option in table.options -%}
            <tr class="tna-table__row">
              <th class="tna-table__header" scope="row">{{option.name}}</th>
              <td class="tna-table__cell ">{{option.type}}</td>
              <td class="tna-table__cell ">
                {% if (option.required === true) %}
                  <strong>Required.</strong>
                {% endif %}
                {{ option.description | safe }}
                {% if (option.isComponent) -%}
                  {% if (option.name === "hint" or option.name === "label") %}
                    See <a href="#options-{{ exampleId }}--{{ option.name }}">{{ option.name }}</a>.
                  {% else %}
                    See <a href="/components/{{ option.slug }}/#options-{{ option.name | kebabCase }}-example">{{ option.name }}</a>.
                  {% endif %}
                {% endif %}
                {% if (option.params) %}
                  See <a href="#options-{{ exampleId }}--{{ option.name }}">{{ option.name }}</a>.
                {% endif -%}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endfor %}
  {% endif -%}
{% endmacro %}