{% extends "./_design-system-base.njk" %}

{%- from "nationalarchives/components/card/macro.njk" import tnaCard -%}

{% block main %}
  {% set headings = contents | headingsList %}
  {% set groupTitle = group | kebabToSpace | capitalize %}
  <div class="tna-background-accent-light">
    {% include "partials/breadcrumbs.njk" %}
  </div>
  <main class="tna-main {{ mainClasses }}" id="main-content">
    <div class="tna-background-accent-light">
      <div class="tna-container tna-section tna-!--padding-bottom-xl">
        <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
          <h1 class="tna-heading-xl">
            {{ title }}
          </h1>
          <p class="tna-scene-setter">{{ description }}</p>
        </div>
      </div>
    </div>
    {%- if contents %}
    <div class="tna-section tna-container">
      <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
        {{ contents | safe }}
      </div>
    </div>
    {%- endif %}
    <nav id="{{ group }}-list" class="tna-section tna-!--no-padding-bottom" aria-label="{{ groupTitle }} pages">
      {% set subGroups = [] %}
      {% for item in collections[group] %}
        {% if item.subGroup and item.subGroup not in subGroups %}
          {% set subGroups = subGroups.concat(item.subGroup) %}
        {% endif %}
      {% endfor %}
      {% set subGroups = subGroups | sort %}
      {% set subGroups = subGroups.concat("") %}
      {% for subGroup in subGroups %}
        {% set subGroupItems = [] %}
        {% for item in collections[group] %}
          {% if item.subGroup == subGroup or (subGroup == "" and not item.subGroup) %}
            {% set subGroupItems = subGroupItems.concat(item) %}
          {% endif %}
        {% endfor %}
        {% if subGroupItems | length %}
          {% if subGroups | length > 1 %}
          <div class="tna-container">
            <div class="tna-column tna-column--full">
              <h2 class="tna-heading-m tna-!--margin-bottom-s">{{ subGroup | capitalize or "Other " + groupTitle | lower }}</h2>
            </div>
          </div>
          {% endif %}
          <ul class="tna-container">
          {% for item in sortArrayOfObjectsByKey(subGroupItems, 'subGroupOrder') %}
            <li class="tna-column tna-column--width-1-4 tna-column--width-1-3-medium tna-column--width-1-2-small tna-column--full-tiny {{ 'tna-!--margin-bottom-m' if item.cardImage else 'tna-!--margin-bottom-l' }}">
              {%- set cardContent = {
                title: item.title,
                headingLevel: 3 if subGroups | length > 1 else 2,
                headingSize: "s",
                href: "/" + item.path.replace("index.html", ""),
                text: item.description,
                accentMeta: true,
                fullAreaClick: true
              } -%}
              {%- if item.cardImage -%}
                {%- set cardContent = cardContent | setAttribute("imageSrc", item.cardImage) -%}
                {%- set cardContent = cardContent | setAttribute("imageAlt", "") -%}
                {%- set cardContent = cardContent | setAttribute("imageWidth", item.imageWidth or 300) -%}
                {%- set cardContent = cardContent | setAttribute("imageHeight", item.imageHeight or 200) -%}
                {%- set cardContent = cardContent | setAttribute("style", "plain") -%}
              {%- endif -%}
              {%- set meta = [] -%}
              {%- if item.phase and item.phase !== "official" -%}
                {%- if item.cardImage -%}
                  {%- set cardContent = cardContent | setAttribute("label", item.phase | unslugify | capitalize) -%}
                {%- else -%}
                  {%- set meta = meta.concat([
                    {
                      title: "Phase",
                      text: item.phase | capitalize
                    }
                  ]) -%}
                {%- endif -%}
              {%- endif -%}
              {%- if meta | length -%}
                {%- set cardContent = cardContent | setAttribute("meta", meta) -%}
              {%- endif -%}
              {{ tnaCard(cardContent) }}
            </li>
          {%- endfor %}
          </ul>
        {% endif %}
      {% endfor %}
    </nav>
  </main>
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script src="/collection.js"></script>
  <script src="/sidebar.js"></script>
{% endblock %}
