{%- from "../node_modules/@nationalarchives/frontend/nationalarchives/components/footer/macro.njk" import tnaFooter -%}
<html lang="en-GB" class="tna-template">
  <head>
    <title>{{ title }} | The National Archives Design System</title>
    <meta name="description" content="{{ description }}" />
    <link rel="canonical" href="{{ site.siteURL }}{{ path }}" />
    <link rel="stylesheet" href="/css/index.css">
  </head>

  <body class="tna-template__body js-disabled">
    <header>
      <p>National Archives Design System</p>
      <ul>
        <li>
          <a href="/">
            Home
          </a>
        </li>
        <li>
          <a href="/components">
            Components
          </a>
        </li>
      </ul>
    </header>

    {% block body %} {# will be replaced by page content #} {% endblock %}

    {% set buildDate = stats.atime | prettyDate %}
    {{ tnaFooter({
      navigation: [
        {
          title: "Resources",
          items: [
            {
              text: "National Archives Frontend",
              href: "https://nationalarchives.github.io/tna-frontend"
            },
            {
              text: "The National Archives Beta",
              href: "https://beta.nationalarchives.gov.uk/"
            }
          ]
        },
        {
          title: "GitHub repositories",
          items: [
            {
              text: "National Archives Design System",
              href: "https://github.com/nationalarchives/design-system"
            },
            {
              text: "National Archives Frontend",
              href: "https://github.com/nationalarchives/tna-frontend"
            },
            {
              text: "National Archives Frontend Django",
              href: "https://github.com/nationalarchives/tna-frontend-django"
            }
          ]
        },
        {
          title: "Meta",
          items: [
            {
              text: "Made with Metalsmith " + msVersion,
              href: "https://metalsmith.io/"
            },
            {
              text: "Node " + nodeVersion,
              href: "https://github.com/nationalarchives/design-system/blob/main/.nvmrc"
            },
            {
              text: "Site built on " + buildDate,
              href: "https://github.com/nationalarchives/design-system/actions"
            }
          ]
        }
      ]
    }) }}
  </body>
</html>
