{% extends "./_design-system-base.njk" %}

{%- from "nationalarchives/components/button/macro.njk" import tnaButton -%}
{%- from "nationalarchives/components/card/macro.njk" import tnaCard -%}
{%- from "nationalarchives/components/hero/macro.njk" import tnaHero -%}

{% block main %}
  <main class="tna-main-wrapper {{ mainClasses }}" id="main-content" role="main">
    {{ tnaHero({
      heading: "Design your service using National Archives styles and components",
      body: "<p>Use this design system to make services consistent with The National Archives. Learn from the research and experience of other service teams and avoid repeating work that has already been done.</p><div class=\"tna-button-group\">" + tnaButton({ text: "Get started", href: "/design-system/get-started/", classes: "tna-button--large" }) + "</div>",
      imageSrc: "https://www.nationalarchives.gov.uk/wp-content/uploads/sites/24/2023/07/tna-building-compress.jpg",
      imageAlt: "The front of The National Archives office in Kew",
      imageWidth: 640,
      imageHeight: 360
    }) }}
    <div class="tna-section tna-background-tint">
      <div class="tna-container">
        <div class="tna-column tna-column--width-2-3 tna-column--full-small tna-column--full-tiny">
          {{ contents | safe }}
        </div>
      </div>
    </div>
    <div class="tna-section tna-!--no-padding-bottom">
      <menu class="tna-ul tna-ul--plain tna-container">
        <li class="tna-column tna-column--width-1-3 tna-column--width-1-2-medium tna-column--width-1-2-small tna-column--full-tiny tna-!--margin-bottom-l">
          {{ tnaCard({
            title: "Styles",
            href: "/design-system/styles/",
            headingLevel: 2,
            headingSize: "m",
            body: "<p>Make your service look part of The National Archives with guides for applying layout, typography, colour and images.</p>",
            htmlElement: "article",
            hrefClasses: "tna-link--no-visited-state"
          }) }}
        </li>
        <li class="tna-column tna-column--width-1-3 tna-column--width-1-2-medium tna-column--width-1-2-small tna-column--full-tiny tna-!--margin-bottom-l">
          {{ tnaCard({
            title: "Components",
            href: "/design-system/components/",
            headingLevel: 2,
            headingSize: "m",
            body: "<p>Save time with reusable, accessible components for forms, navigation, panels, tables and more.</p>",
            htmlElement: "article",
            hrefClasses: "tna-link--no-visited-state"
          }) }}
        </li>
        <li class="tna-column tna-column--width-1-3 tna-column--width-1-2-medium tna-column--width-1-2-small tna-column--full-tiny tna-!--margin-bottom-l">
          {{ tnaCard({
            title: "Content",
            href: "/design-system/content/",
            headingLevel: 2,
            headingSize: "m",
            body: "<p>Create content in a consistent and understandable way that makes it easier for users to use your service.</p>",
            htmlElement: "article",
            hrefClasses: "tna-link--no-visited-state"
          }) }}
        </li>
        <li class="tna-column tna-column--width-1-3 tna-column--width-1-2-medium tna-column--width-1-2-small tna-column--full-tiny tna-!--margin-bottom-l">
          {{ tnaCard({
            title: "Performance",
            href: "/design-system/performance/",
            headingLevel: 2,
            headingSize: "m",
            body: "<p>Understand the habits of your users to help you make better decisions about how to run your service.</p>",
            htmlElement: "article",
            hrefClasses: "tna-link--no-visited-state"
          }) }}
        </li>
      </menu>
    </div>
    <hr>
    <div class="tna-section">
      <div class="tna-container">
        <div class="tna-column tna-column--width-2-3 tna-column--full-small tna-column--full-tiny">
          <h2 class="tna-heading-l">Principles we follow</h2>
          <p>
            The National Archives Design System helps teams that work on services for The National Archives follow the <a href="https://www.gov.uk/guidance/government-design-principles" class="tna-link--no-visited-state">Government Design Principles</a> and <a href="https://www.gov.uk/service-manual" class="tna-link--no-visited-state">GOV.UK Service Manual</a>.
          </p>
          <p>
            This website also follows the <a href="https://www.gov.uk/guidance/style-guide" class="tna-link--no-visited-state">style guide</a> and <a href="https://www.gov.uk/guidance/content-design" class="tna-link--no-visited-state">content design guidance</a> used by GOV.UK.
          </p>
          <h2 class="tna-heading-l">Other resources</h2>
          <p>
            The National Archives Design System is focused on how to design services for The National Archives. For technical information on how to develop services, refer to <a href="https://nationalarchives.github.io/engineering-handbook/" class="tna-link--no-visited-state">The National Archives Engineering Handbook</a>.
          </p>
        </div>
      </div>
    </div>
  </main>
  {% block afterContent %}{% endblock %}
{% endblock %}