{% extends "../node_modules/@nationalarchives/frontend/nationalarchives/templates/layouts/_generic.njk" %}

{% block stylesheets %}
  <link rel="stylesheet" href="/design-system/css/index.css">
{% endblock %}
{% block cookies %}{% endblock %}
{% block header %}{% endblock %}
{% block skipLink %}{% endblock %}

{% block main %}
<main>
  {{ contents | safe }}
</main>
{% endblock %}

{% block footer %}{% endblock %}
{% block bodyEnd %}
<script src="/design-system/TNAFrontend.js"></script>
{% endblock %}
