{% extends "nationalarchives/templates/layouts/_generic.njk" %}

{% block stylesheets %}
  <link rel="stylesheet" href="/design-system/css/index.css">
{% endblock %}

{%- set theme = "light" -%}

{% block pageTitle %}{{ title }} - {{ super() }}{% endblock %}

{% block cookies %}{% endblock %}
{% block skipLink %}{% endblock %}

{% block content %}
  <div class="tna-container">
    <div class="tna-column tna-column--width-2-3 tna-column--full-small tna-column--full-tiny tna-section">
      {{ contents | safe }}
    </div>
  </div>
{% endblock %}

{% block bodyEnd %}
<script src="/design-system/TNAFrontend.js"></script>
{% endblock %}
