{% extends "./_design-system-base.njk" %}

{% block content %}
  <div class="tna-container tna-!--margin-top-m">
    <div class="tna-column tna-column--full">
      <h1 class="tna-heading tna-heading--xl">
        Patterns
      </h1>
      {{ contents | safe }}
      <ul>
      {% for pattern in collections.patterns %}
        <li>
          <a href="/design-system/{{ pattern.path }}">{{ pattern.title }}</a>
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
