{% extends "./_design-system-base.njk" %}

{% block beforeContent %}
  {% include "partials/breadcrumbs.njk" %}
{% endblock %}

{% block content %}
  <div class="tna-section">
    <div class="tna-container">
      <div class="tna-column tna-column--width-2-3 tna-column--full-small tna-column--full-tiny">
        {{ contents | safe }}
      </div>
    </div>
  </div>
{% endblock %}
