{% extends "./_design-system-base.njk" %}

{% from "nationalarchives/components/sidebar/macro.njk" import tnaSidebar %}

{%- set themeAccent = "pink" -%}

{% block cookies %}
  {% if path != 'cookies' %}
  {{ super() }}
  {% endif %}
{% endblock %}

{% block beforeContent %}
  {% include "partials/breadcrumbs.njk" %}
{% endblock %}

{% block content %}
  {% set headings = contents | headingsList %}
  <div class="tna-container">
    <div class="tna-column tna-column--width-2-3 tna-column--full-small tna-column--full-tiny tna-section tna-!--no-padding-bottom">
      <h1 class="tna-heading-xl">{{ title }}</h1>
    </div>
  </div>
  <div class="tna-container">
    {% if headings %}
    <div class="tna-column tna-column--width-1-3 tna-column--full-small tna-column--full-tiny tna-section" role="navigation" aria-label="Table of contents">
      {% set items = [] %}
      {% for heading in headings %}
        {% set children = None %}
        {% if heading.children %}
          {% set children = [] %}
          {% for child in heading.children %}
            {% set children = children.concat({
              text: child.title,
              href: "#" + child.href
            }) %}
          {% endfor %}
        {% endif %}
        {% set items = items.concat({
          text: heading.title,
          href: "#" + heading.href,
          children: children
        }) %}
      {% endfor %}
      {{ tnaSidebar({
        headingLevel: 2,
        heading: "Contents",
        items: items,
        type: "contents",
        sticky: false
      }) }}
    </div>
    {% endif %}
    <div class="tna-column tna-column--width-2-3 tna-column--full-small tna-column--full-tiny tna-section">
      {{ contents | safe }}
    </div>
  </div>
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script src="/design-system/sidebar.js"></script>
{% endblock %}
