{% extends "./_design-system-base.njk" %}

{% block content %}
  <div class="tna-container tna-!--margin-top-m">
    <div class="tna-column tna-column--width-2-3 tna-column--full-small tna-column--full-tiny">
      {{ contents | safe }}
    </div>
  </div>
{% endblock %}
