{% extends "./_design-system-base.njk" %}

{%- set themeAccent = "pink" -%}

{% block beforeContent %}
  {% include "partials/breadcrumbs.njk" %}
{% endblock %}

{% block content %}
  <div class="tna-section">
    <div class="tna-container">
      <div class="tna-column tna-column--width-2-3 tna-column--full-small tna-column--full-tiny">
        <h1 class="tna-heading-xl">
          {{ title }}
        </h1>
        {{ contents | safe }}
        {%- for section in collections.top %}
        <h2 class="tna-heading-l">
          <a href="/design-system/{{ section.path.replace('index.html', '') }}" class="tna-link--no-visited-state">{{ section.title }}</a>
        </h2>
        {% if section.description %}
          <p>{{ section.description }}</p>
        {% endif %}
        <ul class="tna-ul tna-ul--spaced">
          {%- for page in collections[section.group] %}
          <li>
            <a href="/design-system/{{ page.path.replace('index.html', '') }}" class="tna-link--no-visited-state">{{ page.title }}</a>
            {% if page.description %} <small>&mdash; {{ page.description }}</small>{% endif %}
          </li>
          {%- endfor %}
        </ul>
        {%- endfor %}
      </div>
    </div>
  </div>
{% endblock %}
