---
title: Definition list with icons (plain)
layout: layout-example.njk
private: true
---

<dl class="tna-dl tna-dl--plain tna-dl--icon-padding">
    <dt>
      <i class="fa-solid fa-landmark"></i>
      Held by
    </dt>
    <dd>The National Archives, Kew</dd>
    <dt>
      <i class="fa-solid fa-calendar"></i>
      Date
    </dt>
    <dd>1972&ndash;1979</dd>
    <dt>
      <i class="fa-solid fa-database"></i>
      Reference
    </dt>
    <dd>LC 4</dd>
</dl>