---
title: Paragraphs strong
layout: layout-example.njk
---

<p>Your reference number is <strong>ABC12345678</strong>. Use this to track your application. Updates will be sent to <strong>name@example.com</strong>.</p>
