---
title: Paragraphs small
layout: examples/plain.njk
private: true
---

<p><small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel tincidunt velit, a molestie turpis. Sed odio libero, sodales eleifend lorem sit amet, feugiat consequat nibh.</small></p>
