---
title: Flexible columns
layout: examples/grid.njk
private: true
---

<div class="tna-container">
  <div class="tna-column">
    <p>Minimum width</p>
  </div>
  <div class="tna-column tna-column--flex-1">
    <p>Flexible width</p>
  </div>
  <div class="tna-column">
    <p>Minimum width</p>
  </div>
</div>
