---
title: Button with brand icon
layout: layout-example.njk
---

{% from "nationalarchives/components/button/macro.njk" import tnaButton %}

{# tnaButton({
  text: "Watch on YouTube",
  href: "#/youtube",
  brandIcon: "youtube"
}) #}

<a href="#/youtube" class="tna-button">
  <i class="fa-brands fa-youtube" aria-hidden="true"></i>
  Watch on YouTube
</a>
