---
title: Button with brand icon
layout: examples/plain.njk
addBodyPadding: true
private: true
---

{% from "nationalarchives/components/button/macro.njk" import tnaButton %}

{{ tnaButton({
  text: "Watch on YouTube",
  href: "#/youtube",
  icon: "brands fa-youtube"
}) }}
