---
title: Button with icon
layout: layout-example.njk
---

{% from "nationalarchives/components/button/macro.njk" import tnaButton %}

{# tnaButton({
  text: "Explore the collection",
  href: "#/explore-the-collection",
  icon: "globe"
}) #}

<a href="#/explore-the-collection" class="tna-button">
  <i class="fa-solid fa-globe" aria-hidden="true"></i>
  Explore the collection
</a>
