---
title: Button with icon
layout: examples/plain.njk
addBodyPadding: true
private: true
---

{% from "nationalarchives/components/button/macro.njk" import tnaButton %}

{{ tnaButton({
  text: "Explore the collection",
  href: "#/explore-the-collection",
  icon: "globe"
}) }}
