---
title: Button with icon
layout: layout-example.njk
---

{% from "nationalarchives/components/button/macro.njk" import tnaButton %}

{{ tnaButton({
  text: "Explore the collection",
  href: "#/explore-the-collection",
  icon: "globe"
}) }}
