---
title: Inline code
layout: examples/plain.njk
addBodyPadding: true
private: true
---

<p>Always place the main body of content in the <code>{{ '<main>' }}</code> element.</p>
<p>Fill out the <code>W14-2003</code> form.</p>
<p>Available through the <code>{{ '/details?format=json&defer=true' }}</code> API endpoint.</p>
<p>Click <code>File &gt; New</code> to create a new document.</p>