---
title: Chip list
layout: examples/plain.njk
addBodyPadding: true
themeAccent: pink
private: true
---

<dl class="tna-dl-chips">
    <dt>Date</dt>
    <dd>
      <a href="#" class="tna-dl-chips__item">
        Saturday 28 June 2014
      </a>
    </dd>
    <dt>Event type</dt>
    <dd>
      <span class="tna-dl-chips__item">
        In-person
      </span>
    </dd>
    <dt>Price</dt>
    <dd>
      <span class="tna-dl-chips__item">
        Free
      </span>
    </dd>
    <dt>Accessiblity</dt>
    <dd>
      <span class="tna-dl-chips__item">
        Wheelchair accessible
      </span>
    </dd>
</dl>
<dl class="tna-dl-chips tna-dl-chips--plain">
    <dt>Date</dt>
    <dd>
      <a href="#" class="tna-dl-chips__item">
        Saturday 28 June 2014
      </a>
    </dd>
    <dt>Event type</dt>
    <dd>
      <span class="tna-dl-chips__item">
        In-person
      </span>
    </dd>
    <dt>Price</dt>
    <dd>
      <span class="tna-dl-chips__item">
        Free
      </span>
    </dd>
    <dt>Accessiblity</dt>
    <dd>
      <span class="tna-dl-chips__item">
        Wheelchair accessible
      </span>
    </dd>
</dl>
