---
title: Chip list
layout: layout-example.njk
private: true
---

<ul class="tna-chip-list">
    <li class="tna-chip-list__item">
        <span class="tna-chip">In-person</span>
    </li>
    <li class="tna-chip-list__item">
        <span class="tna-chip">Free</span>
    </li>
    <li class="tna-chip-list__item">
        <span class="tna-chip">Wheelchair accessible</span>
    </li>
</ul>

<ul class="tna-chip-list">
    <li class="tna-chip-list__item">
        <a href="#" class="tna-chip tna-chip">Spicy</a>
    </li>
    <li class="tna-chip-list__item">
        <a href="#" class="tna-chip tna-chip">Vegan</a>
    </li>
    <li class="tna-chip-list__item">
        <a href="#" class="tna-chip tna-chip">Fewer than 600 calories</a>
    </li>
</ul>
