---
title: Non-collapsing breadcrumbs
layout: examples/plain.njk
addBodyPadding: true
private: true
---

{% from "nationalarchives/components/breadcrumbs/macro.njk" import tnaBreadcrumbs %}

{{ tnaBreadcrumbs({
  items: [
    {
      text: "Alpha",
      href: "#/alpha"
    },
    {
      text: "Beta",
      href: "#/beta"
    },
    {
      text: "Gamma",
      href: "#/gamma"
    },
    {
      text: "Delta",
      href: "#/delta"
    },
    {
      text: "Epsilon",
      href: "#/epsilon"
    }
  ],
  labelText: "Example breadcrumbs component that doesn’t collapse",
  noCollapse: true
}) }}
