---
title: Tabs
layout: examples/no-js.njk
private: true
---

{% from "nationalarchives/components/tabs/macro.njk" import tnaTabs %}

{{ tnaTabs({
  title: "Example tabs",
  items: [
    {
      id: "unique-id-a",
      title: "Alpha section",
      body: '<h2 class="tna-heading">Alpha title</h2><p>Lorem ipsum</p>'
    },
    {
      id: "unique-id-b",
      title: "Beta section",
      body: '<h2 class="tna-heading">Beta title</h2><p>Lorem ipsum</p>'
    },
    {
      id: "unique-id-c",
      title: "Gamma section",
      body: '<h2 class="tna-heading">Gamma title</h2><p>Lorem ipsum</p>'
    }
  ]
}) }}
