---
title: Headings with separate supertitles
layout: layout-example.njk
---

<hgroup class="tna-hgroup tna-hgroup--xl">
  <p class="tna-hgroup__supertitle">Supertitle</p>
  <h1 class="tna-hgroup__title">Title</h1>
</hgroup>

<hgroup class="tna-hgroup tna-hgroup--l">
  <p class="tna-hgroup__supertitle">Supertitle</p>
  <h2 class="tna-hgroup__title">Title</h2>
</hgroup>
