---
title: Headings with separate supertitles
layout: layout-example.njk
---

<hgroup class="tna-hgroup tna-hgroup--xl">
  <p class="tna-hgroup__supertitle">Supertitle</p>
  <h3 class="tna-hgroup__title">Title</h3>
</hgroup>

<hgroup class="tna-hgroup tna-hgroup--l">
  <p class="tna-hgroup__supertitle">Supertitle</p>
  <h3 class="tna-hgroup__title">Title</h3>
</hgroup>
