---
title: Headings with separate supertitles
layout: layout-example.njk
---

<hgroup class="tna-hgroup-xl">
  <p class="tna-hgroup__supertitle">Supertitle</p>
  <h1 class="tna-hgroup__title">Title</h1>
</hgroup>
