---
title: Nested lists
layout: examples/plain.njk
addBodyPadding: true
private: true
---

<ul class="tna-ul">
    <li>British Isles
        <ul>
            <li>United Kingdom
                <ul>
                    <li>Great Britain
                        <ul>
                            <li>England</li>
                            <li>Scotland</li>
                            <li>Wales</li>
                        </ul>
                    </li>
                    <li>Northern Ireland</li>
                </ul>
            </li>
            <li>Republic of Ireland</li>
        </ul>
    </li>
</ul>

<ol class="tna-ol">
    <li>Beginnings
        <ol>
            <li>The Quiet Village
                <ol>
                    <li>Morning in the Fields</li>
                    <li>A Stranger Arrives</li>
                </ol>
            </li>
            <li>Rumors and Whispers
                <ol>
                    <li>Stories at the Tavern</li>
                    <li>The Old Map</li>
                </ol>
            </li>
            <li>A Decision is Made</li>
        </ol>
    </li>
</ol>
