---
title: Breadcrumbs
layout: examples/plain.njk
private: true
---

{% from "nationalarchives/components/breadcrumbs/macro.njk" import tnaBreadcrumbs %}

{{ tnaBreadcrumbs({
  items: [
    {
      text: "Alpha",
      href: "#/alpha"
    },
    {
      text: "Beta",
      href: "#/beta"
    },
    {
      text: "Gamma",
      href: "#/gamma"
    },
    {
      text: "Delta",
      href: "#/delta"
    },
    {
      text: "Epsilon",
      href: "#/epsilon"
    }
  ]
}) }}
