---
title: Progressive date input
layout: examples/plain.njk
addBodyPadding: true
private: true
---

{% from "nationalarchives/components/date-input/macro.njk" import tnaDateInput %}

{{ tnaDateInput({
  label: "Search for a start date",
  headingLevel: 4,
  headingSize: "m",
  id: "date",
  name: "date",
  hint: "Enter a year, year and month, or full date",
  progressive: true
}) }}
