---
title: Column alignment
layout: examples/grid.njk
private: true
---

<div class="tna-container tna-container--align-centre">
  <div class="tna-column tna-column--width-1-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus facilisis accumsan orci, tincidunt placerat est auctor fermentum. Nunc fermentum velit augue&hellip;</p>
  </div>
  <div class="tna-column tna-column--width-1-4 tna-column--align-top">
    <p>Lorem ipsum</p>
  </div>
  <div class="tna-column tna-column--width-1-4 tna-column--align-centre">
    <p>Lorem ipsum</p>
  </div>
  <div class="tna-column tna-column--width-1-4 tna-column--align-bottom">
    <p>Lorem ipsum</p>
  </div>
</div>
