---
title: Column alignment
layout: examples/grid.njk
private: true
---

<div class="tna-container tna-container--align-centre">
  <div class="tna-column tna-column--width-1-4">
    <p>Column</p>
    <p>Column</p>
    <p>Column</p>
    <p>Column</p>
    <p>Column</p>
    <p>Column</p>
  </div>
  <div class="tna-column tna-column--width-1-4 tna-column--align-top">
    <p>Column</p>
  </div>
  <div class="tna-column tna-column--width-1-4 tna-column--align-centre">
    <p>Column</p>
  </div>
  <div class="tna-column tna-column--width-1-4 tna-column--align-bottom">
    <p>Column</p>
  </div>
</div>
