---
title: Filters
layout: layout-example.njk
---

{% from "nationalarchives/components/compound-filters/macro.njk" import tnaCompoundFilters %}

{{ tnaCompoundFilters({
  items: [
    {
      label: "AIR - Air Ministry and Royal Air Force records",
      href: "#",
      title: "Remove Air Ministry and Royal Air Force records filter"
    },
    {
      label: "Item",
      href: "#",
      title: "Remove item filter"
    },
    {
      label: "Closed Or Retained Document, Open Description",
      href: "#",
      title: "Remove filter for Closed Or Retained Document, Open Description"
    }
  ],
  removeAllHref: "#"
}) }}
