---
title: Unordered list (dashed)
layout: examples/plain.njk
addBodyPadding: true
private: true
---

<ul class="tna-ul tna-ul--dashed">
    <li>
        <a href="#">Alpha</a>
    </li>
    <li>
        <a href="#">Beta</a>
    </li>
    <li>
        <a href="#">Gamma</a>
    </li>
</ul>
