---
title: List of links
layout: examples/plain.njk
private: true
---

<ul class="tna-ul">
    <li>
        <p>
            <a href="#attendees-2000-01-01.pdf" aria-describedby="file-1">Attendee list for 2000-01-01
                <span class="tna-visually-hidden"> (PDF, 2.1MB, 120 pages)</span>
            </a>
        </p>
        <dl class="tna-dl tna-dl--plain tna-!--no-margin-top" id="file-1">
          <dt>File type</dt>
          <dd>PDF</dd>
          <dt>File size</dt>
          <dd>2.1MB</dd>
          <dt>Extent</dt>
          <dd>120 pages</dd>
        </dl>
    </li>
    <li>
        <p>
            <a href="#spreadsheet_new_NEW-final-2b.xlsx" aria-describedby="file-2">Summary of catalogue imports
                <span class="tna-visually-hidden"> (XLSX, 756Kb, 3 sheets)</span>
            </a>
        </p>
        <dl class="tna-dl tna-dl--plain tna-!--no-margin-top" id="file-2">
          <dt>File type</dt>
          <dd>XLSX</dd>
          <dt>File size</dt>
          <dd>756Kb</dd>
          <dt>Extent</dt>
          <dd>3 sheets</dd>
        </dl>
    </li>
    <li>
        <p>
            <a href="#doc.pdf" aria-describedby="file-3">Example email signature
                <span class="tna-visually-hidden"> (DOC, 543 bytes, 1 page)</span>
            </a>
        </p>
        <dl class="tna-dl tna-dl--plain tna-!--no-margin-top" id="file-3">
          <dt>File type</dt>
          <dd>DOC</dd>
          <dt>File size</dt>
          <dd>543 bytes</dd>
          <dt>Extent</dt>
          <dd>1 page</dd>
        </dl>
    </li>
</ul>
