---
title: Skip link
layout: examples/plain.njk
addBodyPadding: true
private: true
---

{% from "nationalarchives/components/skip-link/macro.njk" import tnaSkipLink %}

To view the skip link component tab to this example, or click inside this example and press tab.

{{ tnaSkipLink({
}) }}
