---
title: Definition list (plain)
layout: examples/plain.njk
private: true
---

<dl class="tna-dl tna-dl--plain">
    <dt>Alpha</dt>
    <dd>Lorem ipsum</dd>
    <dt>Beta</dt>
    <dd>Lorem ipsum</dd>
    <dt>Gamma</dt>
    <dd>Lorem ipsum</dd>
    <dt>Delta</dt>
    <dd>Lorem ipsum</dd>
    <dt>Epsilon</dt>
    <dd>Lorem ipsum</dd>
</dl>
